{% load i18n %}

<div style="clear: both;" class="alignleft">
<h2>
  <span>{{site.name}} Agreement</span>
</h2>
<h4>
  <span>Please read this LICENSE AND TERMS OF SERVICE AGREEMENT
  closely.</span>
</h4>
<h4>
  <span>LICENSE AND TERMS OF SERVICE AGREEMENT</span>
</h4>
<p>
  <span>Calenvy has designed, developed and is the
  publisher of a software service entitled Calenvy ('Service').
  Calenvy has established a service (the 'Service') to,
  among other things, allow users to enjoy the many capabilities
  and performance of one or more released
  version(s) of a personal assistant, team knowledge-base,
  email based CAL, and twitter relationship management (the 'Service') and
  provide feedback and comments to Calenvy. In order to participate in
  the Service, you must read and agree with this SERVICE LICENSE AGREEMENT (this 'Agreement'). By using the Service and
  participating in this Service, you agree as follows:</span>
</p>
<ol>
  <li>You (a) are eighteen years of age or older, (b) are not participating
  in the Service on behalf of any other person or entity, or as an
  employee, agent or principal of any other entity, and (c) are entering
  into this Agreement on a completely voluntary basis with no expectation
  of consideration or any form of compensation whatsoever
  other than what is expressly provided for in this Agreement;
  </li>
  <li>Calenvy may, in its discretion and at any time before or during the
  Service, accept or reject your application for the Service (or
  terminate your participation therein), and if you are accepted this
  Agreement is a binding contract between you and Calenvy;
  </li>

  <li>Calenvy may, in its discretion, reschedule the start date or end
  date of the Service at any time in its sole discretion;
  </li>
  <li>
    <b>You grant Calenvy the right and consent, for the term of your
    participation in the Service, to allow Calenvy to collect
    certain diagnostic
    information, hardware, software, driver, operating system and related
    information, including crash logs, from your computer solely for the
    purpose of analyzing, improving and maintaining the Service;</b>
  </li>
  <li>You agree to all of the additional terms set forth in the Terms of
  Service and that those terms are incorporated herein by reference.
  </li>
</ol>
<h4>
  1. License Terms.
</h4>
<p>
  <span><br/></span><b>1.1 License Grant.</b> <span>Calenvy grants you
  (the 'Recipient') the non-exclusive, non-transferable, revocable, limited
  right to access the Service for Recipient's use. Unless
  otherwise authorized, Recipient may not use, copy, reproduce, modify,
  publicly perform or display, create derivative works of, sell, auction,
  loan, lease, rent, distribute, transfer or disclose all or any part of
  the Service (including, without limitation, any screenshots, videos,
  documentation or manuals relating to the Service) except as provided in
  this Agreement. Recipient may only use the Service for testing and
  evaluation purposes as set forth in Section 1.4 below. All other rights
  are reserved to Calenvy.<br/>
  <br/></span> <b>1.2 License Restrictions.</b> <span>Unless otherwise
  authorized, Recipient shall not:</span>
</p>
<blockquote>
  <p>
    <span>(a) Sublicense to, transfer, network, transmit, distribute, or
    permit use of the Service by, any third party;<br/>
    <br/>
    (b) Reverse engineer, decompile, or disassemble any aspect of the
    Service;</span>
  </p>
  <p>
    <span>(c) Transmit or communicate any data that is unlawful, harmful,
    threatening, abusive, harassing, defamatory, vulgar, obscene, invasive
    of another's privacy, hateful, or racially, ethnically or otherwise
    objectionable;<br/>
    <br/>
    (d) Harm minors in any way;<br/>
    <br/>
    (e) Impersonate any person or entity or falsely state or otherwise
    misrepresent your affiliation with a person or entity;<br/>
    <br/>
    (f) Forge headers or otherwise manipulate identifiers in order to
    disguise the origin of any data transmitted to other users;<br/>
    <br/>
    (g) Transmit, access or communicate any data that you do not have a
    right to transmit under any law or under contractual or fiduciary
    relationships (such as inside information, proprietary and confidential
    information learned or disclosed as part of employment relationships or
    under non-disclosure agreements);<br/>
    <br/>
    (h) Transmit, access, or communicate any data that infringes any
    patent, trademark, trade secret, copyright or other proprietary rights
    of any party;<br/>
    <br/>
    (i) Transmit or communicate any data that contains viruses or
    any other computer code, files or programs designed to interrupt,
    destroy or limit the functionality of any computer software or hardware
    or telecommunications equipment;<br/>
    <br/>
    (j) Disrupt the normal flow of dialogue or otherwise act in a manner
    that negatively affects other users' ability to engage in
    exchanges;<br/>
    <br/>
    (k) Interfere with or disrupt the Service;<br/>
    <br/>
    (l) Intentionally or unintentionally violate any applicable local,
    state, national or international law, including securities exchange and
    any regulations requirements, procedures or policies in force from time
    to time relating to the Service;<br/>
    <br/>
    (m) Monitor traffic or make search requests in order to accumulate
    information about individual users;<br/>
    <br/>
    (n) 'Stalk' or otherwise harass another person;<br/>
    <br/>
    (o) Modify, delete or damage any information contained on the personal
    computer of any other user;</span>
  </p>
  <p>
    <span>(p) Unless otherwise approved by Calenvy, upload, post or
    otherwise transmit any unsolicited or unauthorized advertising,
    promotional materials, 'junk mail,' 'spam,' 'chain letters,' 'pyramid
    schemes,' or any other form of solicitation;<br/>
    <br/>
    (q) Collect or store personal data about other users without their
    consent. Even with consent, any personally identifiable information
    must be encrypted and stored on an external database; </span>
  </p>
  <p>
    <span>(r) Harm the Service including using any program or other
    mechanism to slow or 'crash' the network; or</span>
  </p>
  <p>
    <span>(s) Allow usage by others in such a way as to violate this
    Agreement;</span>
  </p>
</blockquote>
<p>
  <b>1.3 Indemnification.</b> <span>Recipient (i) agrees to indemnify,
  defend and hold harmless, and (ii) hereby releases, Calenvy, its
  licensors, and their direct and indirect parent, subsidiary and sister
  corporations, and their respective officers, directors, employees, and
  agents from and against any and all losses, liabilities, claims,
  obligations, costs and/or expenses (including reasonable legal fees)
  which result from, arise out of or in connection with the use of the
  Service (including with respect to any User Created IP, as defined in
  Section 3.2, below) and all other services or activities related
  thereto.<br/>
  <br/></span> <b>1.4 End User Obligations.</b>
  <span>Recipient hereby agrees to perform all of the following
  obligations: to provide feedback and comments to Calenvy (including, but
  not limited to, bug reports and satisfaction). In some cases feedback and
  comments may be presented to Calenvy in the form of source code, object
  code, scripting, executable programs, interface design, art, or other
  intellectual property assets (collectively 'User Contributions'). All of
  Recipient's feedback, comments, and User Contributions shall be the sole
  and exclusive property of Calenvy and/or its licensors, and Calenvy
  and/or its licensors shall have the perpetual right to use all or part of
  Recipient's feedback or comments in any manner or media now known or
  hereafter devised.<br/>
  <br/></span> <b>1.5 Personal Information; Monitoring; Privacy Issues.</b>
  <span>Recipient shall be required to provide to Calenvy, or allow
  Calenvy to collect on an ongoing basis, as a condition to participation
  in the Service, certain personal information, including, but not
  limited to, certain specifications of Recipient's hardware, operating system and Service ('Personal Information')
  and Recipient hereby specifically grants Calenvy the right to upload or
  collect such Personal Information from Recipient's computer system during
  his or her participation in the Service, solely for the purpose of
  evaluating and improving the Service. Calenvy's retention and use of
  all Personal Information shall be subject to Calenvy's
  <a href='/info/features/privacy/' target='_blank'>posted privacy policy</a>,
  as that policy may be modified by Calenvy in its discretion
  from time to time. Without in any way limiting Calenvy's rights with
  respect to such information as set forth in the privacy policy, Recipient
  acknowledges that subject to the Terms of Service, any and all
  content and data that is stored and is resident on Calenvy's servers,
  and any and all communications that he or she makes within the Service,
  the Service or as part of the Service (including, but not limited
  to, email messages or twitter updates) traverse
  through Calenvy's servers, may or may not be monitored by Calenvy
  personnel. Subject to the Term of Service,</span> <b>Recipient has no
  expectation of privacy in any such communication or in any communication
  referenced in Section 5.3 herein. Recipient acknowledges and agrees that
  Calenvy may transfer such information (including your personally
  identifiable information and personal information) to the United States in accordance with judicial or governmental order
  or other countries or may share such information with our licensees and
  agents in connection with the Service and the Service. In the event
  of a merger, acquisition, transfer or sale of assets, this information
  described in Section 1.5 along with any other information held by
  Calenvy may be part of the assets involved in the sale, merger, or
  transfer. </b>

  <br/>
  <br/> <b>1.6 Term of the Agreement.</b> <span>Recipient's
  participation in the Service, and the grant of license herein, may
  be terminated by Calenvy at any time, for any reason or for no reason,
  in Calenvy's sole and absolute discretion, by providing written,
  electronic or emailed notice to Recipient. Recipient may, at any time and
  for any reason or for no reason, terminate his or her participation in
  the Service by providing written or emailed notice to Calenvy. The
  Service will be terminated upon Calenvy's
  written, electronic or emailed notice to Recipient. The termination of Recipient's participation in
  the Service and/or the termination of the Service, however,
  shall not modify or supersede the survival provision in Section 6.1
  below. At termination, Recipient shall erase all copies of the Service from Recipient's hardware.</span>

  <br/>
  <br/> <b>1.7 Refunds.</b> <span>Recipient's
  request for a refund of the Service, may
  be rejected for any reason or for no reason,
  in Calenvy's sole and absolute discretion, by providing written,
  electronic or emailed notice to Recipient. If a refund is provided at Calenvy's sole and absolute discretion,
  Recipient shall erase all copies of the Service from Recipient's hardware.</span>

</p>
<h4>
  2. Confidentiality.
</h4><br/>

<b></b><span>

<h4>
  3. Ownership.
</h4><br/>
<b>3.1 Calenvy Intellectual Property.</b> <span>Except for the revocable,
limited license expressly granted hereunder, Calenvy retains all rights,
title and interests in and to all intellectual property rights associated
with the Service and all copies thereof, and all content and data in
connection therewith. The Service is copyrighted and is protected by
United States copyright laws and international treaty provisions as well as
other laws. Recipient acknowledges that the Service contains valuable
trade secrets of Calenvy, and that Calenvy and/or its licensors own all
intellectual property rights in and to the Service, including,
without limitation, all patent rights, copyrights, inventions, trade secret
rights, trade dress rights, trademark rights and intellectual property
rights therein and thereto. Recipient may not remove the copyright and
other proprietary rights notices from the Service. Recipient agrees
that this Agreement shall be retained with all printed and electronic
copies of the Service and documentation constituting the
Service. Recipient agrees to prevent any unauthorized copying or
distribution of the Service. Except for the license as expressly
provided herein, Calenvy does not grant Recipient any express or implied
right in any patents, copyrights, trademarks, or trade secret information
of Calenvy and/or its licensors. In accordance with Section 1.4,
Recipient agrees that Calenvy and/or its licensors own all rights, title,
and interests in any and all of Recipient's User Contributions without any
remuneration, compensation or credit to Recipient. To the extent any User
Contributions are not the sole and exclusive property of Calenvy,
Recipient agrees to and hereby grants Calenvy an irrevocable, perpetual,
royalty free, world-wide license to distribute, display, reproduce, use,
and commercially exploit the feedback and comments in any manner or media
now known or hereafter devised. In addition, to the extent that any of the
rights assigned herein cannot presently be assigned under applicable law,
Recipient agrees to assign such rights at such time as the rights are
capable of being assigned. Recipient agrees at Calenvy's request to
execute such further documents and to do such further acts as may be
necessary or desirable to document, perfect, register or enforce
Calenvy's and/or its licensors' ownership of any of the rights, title
and/or interests hereunder, in whole or in part including, without
limitation, execution of a copyright assignment in a form provided by
Calenvy in its sole discretion. If Recipient fails or refuses to execute
any such documents, Recipient hereby appoints Calenvy as Recipient's
attorney-in-fact, which appointment is coupled with an interest and is
irrevocable, to act on Recipient's behalf and to execute, deliver, record
and file such documents. The rights granted, assigned and/or to be assigned
by Recipient hereunder are granted for the entire universe, in any medium
now known or hereafter invented, and shall inure in perpetuity, and, as set
forth above, no further consideration shall be payable to Recipient at
anytime in connection therewith. Recipient will acquire no right to use,
and will not use without Calenvy's prior written consent, the names,
characters, artwork, designs, tradenames, copyrighted materials, trademarks
or service marks of Calenvy or any related companies, employees,
directors, shareholders, assigns, successors or licensees: (a) in any
advertising, publicity or promotion; or (b) in any manner other than in
accordance with this Agreement.<br/>
<br/></span> <b>3.2 Recipient Intellectual Property.</b> <span>Subject to
Sections 1.4 and 3.1, Calenvy will not claim any interest in any
intellectual property or user generated content that you create within the
Service as permitted by this Agreement ('User Created IP'). User Created IP
does not include feedback, comments and User Contributions. Subject to the
rights of Calenvy and other third parties, if any, you shall be the owner
of all User Created IP that you create within the Service. You acknowledge
and agree that (i) the Service is untested and could be unstable, causing
any or all User Created IP to be lost or destroyed, (ii) Calenvy is not
responsible for any such loss or damage to User Created IP, (iii) you agree
to indemnify Calenvy pursuant to Section 1.3, above, for any claims
arising out of any User Created IP, and (iv) you agree to and hereby grant
Calenvy, for the purposes of promoting and operating the Service, an
irrevocable, perpetual, royalty free, world-wide license to distribute,
display, reproduce, use, and commercially exploit the User Created IP in
any manner or media now known or hereafter devised.</span>
<p>
  <span><b>3.3 Licensed Intellectual Property.</b> Calenvy or Recipients
  may, through arrangements with licensors, use the Service to incorporate
  certain external intellectual property ('Licensed Intellectual Property')
  into the Service. This Licensed Intellectual Property shall remain
  the property of the licensors and any and all intellectual property
  rights thereto shall remain with the licensors. Obtaining the Licensed
  Intellectual Property rights are the sole responsibility of the party
  desiring to incorporate Licensed Intellectual Property into the Service. </span>
</p>
<h4>
  4. Injunctive Relief.
</h4><span>Recipient acknowledges and agrees that a breach or threatened
breach of any covenant contained in this Agreement would cause irreparable
injury, that money damages would be an inadequate remedy and that Calenvy
shall be entitled to temporary and permanent injunctive relief, without the
posting of any bond or other security, to restrain Recipient, from such
breach or threatened breach. Nothing in this Section shall be construed as
preventing Calenvy from pursuing any and all remedies available to it,
including the recovery of money damages from Recipient.</span>
<h4>
  5. No Warranty; No Liability For Damages; No Support; Content and
  Data.
</h4><span><br/>
<br/></span> <b>5.1 No Warranty.</b> <span>RECIPIENT
ACKNOWLEDGES THAT THE SOFTWARE AND SERVICE MAY WELL CONTAIN ERRORS AND
DEFECTS. THE SOFTWARE AND SERVICE IS PROVIDED "AS IS" WITHOUT ANY
EXPRESS OR IMPLIED WARRANTY OF ANY KIND INCLUDING WARRANTIES OF
SATISFACTORY QUALITY, MERCHANTABILITY, NONINFRINGEMENT OF THIRD-PARTY
INTELLECTUAL PROPERTY, OR FITNESS FOR ANY PARTICULAR PURPOSE. THE ENTIRE
RISK AS TO THE QUALITY OF THE SOFTWARE, THE SERVICE AND ALL OTHER
SERVICES IS WITH RECIPIENT. SHOULD THEY PROVE DEFECTIVE FOLLOWING THEIR
RECEIPT BY RECIPIENT, RECIPIENT AND NOT Calenvy ASSUMES THE ENTIRE COST
OF ALL NECESSARY SERVICING OR REPAIR. Without limiting the foregoing, we do
not ensure continuous, error-free, secure or virus-free operation of the
SOFTWARE, the Service, your account or continued operation or
availability of any given server.<br/>
<br/></span> <b>5.2 No Liability For Damages.</b> <span>IN NO EVENT SHALL
NOTED, ANY SUBSIDIARY OR OTHERWISE RELATED COMPANY, OR EMPLOYEES,
AGENTS, OFFICERS AND/OR DIRECTORS OF ANY OF THE ABOVE, BE LIABLE FOR ANY
DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT,
INCIDENTAL, CONSEQUENTIAL, SPECIAL PUNITIVE OR OTHER DAMAGES OR LOST
PROFITS, DATA OR BUSINESS) ARISING OUT OF THE USE OF OR INABILITY TO USE
THE SOFTWARE OR SERVICE EVEN IF ANY OF THE ABOVE HAS BEEN ADVISED OF
THE POSSIBILITY OF SUCH DAMAGES. Without limiting the generality of the
foregoing, no warranty is made that the software or Service will
generate computer programs with the characteristics or specifications
desired by Recipient or that the Software or Service will be
error-free. THESE DISCLAIMERS OF WARRANTY CONSTITUTE AN ESSENTIAL PART OF
THIS AGREEMENT.<br/>
<br/></span> <b>5.3 Limited Support.</b> <span>Calenvy may provide an
e-mail address and/or a password protected forum for Recipient to send any
questions and/or comments regarding the Software or Service. Calenvy
does not, however, make any representations or warranties as to the
accuracy of any statements or advice provided in response to Recipient's
e-mail(s) and/or board postings.<br/>
<br/></span> <b>5.4 Test Environment.</b> <span>Recipient acknowledges that
the certain parts of the Service are a test environment (Outlook plugin, etc.), that content and data will be
frequently wiped or modified at Calenvy's sole discretion, and that the
Service content or data shall likely not be restored into the
Service once data is wiped or modified.</span>
<h4>
  6. Miscellaneous.
</h4><span><br/>
<br/></span> <b>6.1 Survival.</b> <span>The provisions of this Agreement,
other than Section 1.1 shall continue in full force and effect even after
(i) the Service has been terminated or completed and/or (ii)
Recipient's participation in the Service has been terminated.<br/>
<br/></span> <b>6.2 Governing Law; Jurisdiction.</b> <span>This Agreement
shall be governed by and construed and enforced in accordance with the laws
of the State of Texas excluding conflict of law rules and principles.
Both parties submit to personal jurisdiction in Texas and further
agree that any cause of action relating to this Agreement shall be brought
in the County of Travis, State of Texas (if under State law) or the
Northern District of Texas (if under federal law) and such courts
shall have exclusive jurisdiction to determine the validity, construction
and performance of this Agreement and the legal relations between the
parties hereto. Recipient hereby waives any claim that such venue is
improper or inconvenient. Recipient also hereby waives any right to join
actions together with any other Recipient in the form of a 'class action'
or similar action. </span>
<p>
  <b>6.3 Severability and Assignment.</b> <span>If any provision of this
  Agreement shall be held invalid or unenforceable, in whole or in part,
  such provision shall be modified to the minimum extent necessary to make
  it valid and enforceable, and the validity and enforceability of all
  other provisions of this Agreement shall not be affected thereby.
  Recipient shall have no right to assign this Agreement.<br/>
  <br/></span> <span><b>6.4 Entire Agreement.</b></span> <span>This Agreement
  constitutes the entire agreement between the parties hereto relating to
  the subject matter hereof and supersedes all prior oral and written and
  all contemporaneous oral negotiations, commitments and understandings of
  the parties. Changes made by Recipient to this Agreement will not be
  effective unless set forth in a writing describing the change and agreed
  to and signed by both Calenvy and Recipient. Calenvy reserves the
  right to change the terms of this Agreement at any time upon notice to
  Recipient by e-mail or on its webpage. Such changes by Calenvy shall be
  effective upon notice to Recipient and Recipient's continued
  participation in the Service after notice of a change in terms by
  Calenvy shall constitute Recipient's acknowledgment of, and agreement
  to, be bound by such changes.</span>
</p>

  <div style='margin-top: 10px;'>
  	Last revised 11/20/2009.
  </div>
</div>
