{% extends 'mainv2_dash.html' %}
{% load account_tags %}
{% load i18n %}

{% block extra_header %}

	<link rel="stylesheet" href="/static/css/tablesorter/tablesorter.css" type="text/css" media="screen">
	
	<link rel="stylesheet" type="text/css" media="screen" href="/static/jqGrid/themes/redmond/jquery-ui-1.7.2.custom.css" />
	<script language="javascript" src="/static/js/lib/ui.core.js"></script>
	<script language="javascript" src="/static/js/lib/ui.slider.js"></script>

{% endblock %}

{% block header %}
	
	{% comment %}
	
	<style>
		.gray_banner {
			height: 105px;
		}
		
	</style>
	
	<!--[if IE]>
	<style type="text/css"> 
		.gray_banner {
				height: 80px;
		}
		
	</style>
	<![endif]-->
	
	{% endcomment %}
	
    <div style='position: relative; top: -1px; left: 7px;' class='dash_buttons'>
        	
        		<div title='{% trans "Reset the dashboard and go home." %}' id='dash_buttons_home' style='display: inline; background: #fff; border: 1px solid #ccc; padding: 3px; margin-right: 5px;' class='rounded_lower'>
        			<span onclick='Page.reset_dashboard(); return false;' style='cursor: pointer; color: #000;'><img border="0" style="position: relative; top: 3px; cursor: pointer; font-weight: bold;" src="/static/tango/actions/go-home.png"/> {% trans 'Home' %} </span>
        		</div>
        		
        		{% comment %}
        		<div title='{% trans "See messages you should follow up on" %}' id='dash_buttons_followup' style='display: inline; background: #fff; border: 1px solid #ccc; padding: 3px; margin-right: 5px;' class='rounded_lower'>

        			<span onclick='Page.view_followup_only(1); return false;' style='cursor: pointer; color: #000;'> {% trans 'To-do' %} </span>
        			<span id='num_assigned_incomplete' style='display: none; background: #3465A4; padding: 0px 4px 0px 4px; font-size: .9em; color: #fff; margin-left: 3px;' class='rounded_upper rounded_lower'></span>

        		</div>
        		{% endcomment %}
        		
        		<div id='dash_buttons_current_search' style='color: #000; font-weight: bold; display: {% if search %}inline{% else %}none{% endif %}; background: #fff; border: 1px solid #ccc; padding: 3px; margin-right: 5px;' class='rounded_lower'>
        			{{search|search_display:alias}}
        		</div>
        		
        		<div id='dash_buttons_current_bucket' style='color: #000; font-weight: bold; display: {% if bucket %}inline{% else %}none{% endif %}; background: #fff; border: 1px solid #ccc; padding: 3px; margin-right: 5px;' class='rounded_lower'>
        			{{bucket.name}}
        		</div>        		
        		
        		<div title='{% trans "Go back to the previous page." %}' id='dash_buttons_back' style='display: none; background: #fff; border: 1px solid #ccc; padding: 3px; margin-right: 5px;' class='rounded_lower'>
        			<span onclick='Page.go_back(); return false;' style='cursor: pointer; color: #000;'><img border="0" style="position: relative; top: 3px; cursor: pointer;" src="/static/images/go-back.png"/> <strong>{% trans 'Back' %}</strong> </span>
        		</div>
        	
        </div>
    
    <div style="clear:both; height: 5px; "></div>
    
	
{% endblock header %}
