{% extends 'main.html' %}
{% load i18n %}
{% load account_tags %}

{% comment %} Page for entering/updating credit card / address information {% endcomment %}

{% block global_style%}width: 800px; text-align:left;{%endblock%}
{% block header_style %}width: 800px; padding-top: 10px;{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/tablesorter/tablesorter.css" type="text/css" media="screen">
<link rel="stylesheet" href="/static/js/lib/fancybox/jquery.fancybox-1.2.6.css" type="text/css" media="screen">
<style>
.block {
	background-color: ;
}

.yellow_order_box {
	border: 1px solid #ccc;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	position: relative;
	top: 0px;
	width: 183px;
	height: 227px;
}

.order_box .title h1 {
	padding-top: 6px;
	color: #000;
}

.order_box hr {
	height: 1px;
	background: #ccc;
	margin: 10px;
	border: 0px;
}

.order_box .features {
	background: url(/static/images/order/images/signup_button.gif) bottom center no-repeat;
	height: 140px;
	cursor: pointer;
	text-align: center;
}

.order_box .features strong, h3 strong {
	color: #D6156C;
	font-size: 1.2em;
}

.signup_info h3 {
	margin-top: 20px;
}
.terms a {
	color: #000;
}
.signup_block {
	padding-bottom: 20px;

}

h3 {
	color: #666;
}

h1 {
	font-weight: bold;
}

</style>

{% endblock %}

{% block javascript %}

<script type="text/javascript" src="/static/js/lib/fancybox/jquery.fancybox-1.2.6.pack.js"></script>

<script type="text/javascript">
Cufon.replace('h1, h3');
</script>

<script language="javascript">

	var Page = this.Page = {

		paypal_fee: {{paypal_fee}},

		toggle_billing_selector: function() {
			$('#payment_type_cc').click();
			$("input[name='payment_type']").blur().change(function() {
				$(".billing_block_pay").toggle('fast');
				$(this).blur();
			});
		},

		submit_form: function(service_name) {

			var payment_type = $('#payment_type input:radio:checked').val();

			if (payment_type == 'PAYP') {
				Page.goto_paypal();
				return;
			}

			var params = {};
			params.card_number = $('#card_number').val();
			params.expiration_date = $('#exp_year').val() + '-' + $('#exp_month').val();	// YYYY-MM format
			params.card_code = $('#card_cvv2').val();
			params.name = $('#name').val();
			params.address = $('#address').val();
			params.address_2 = $('#address_2').val();
			params.city = $('#city').val();
			params.state = $('#state').val();
			params.zip = $('#zip').val();
			params.country = $('#country').val();
			params.service = $('#service_select').val();

            $('#submit').attr('disabled', 'disabled');

		    Ajax.send_data('set_billing_info/', params, function(data) {
                if (data.return_data.success) {
                    window.location = data.return_data.redirect_url;
                } else {
                    $('#errmsg').hide('slow').show('fast').text(data.return_data.msg);
                    $('#submit').removeAttr('disabled');
                }
            }, "POST");

		},

		get_service_features_html: function(features) {
            var html = "";
            for (var i=0; i < features.length; i++) {
				// do something with features[i]
				var is_checked = features[i].value;
				if (is_checked)
					html += "<input disabled='disabled' type='checkbox' checked='checked'/> " + features[i].name + "<br/>";
				else
					html += "<input disabled='disabled' type='checkbox'/> " + features[i].name + "<br/>";
            }
			return html;
		},

		get_service_features: function(field) {
			var service_name = field.val();
			//alert(service_name);

			Page.get_service_terms(service_name);

			Ajax.send_data('get_service_features/', {
		        service: service_name
		    }, function(data) {
                if (data.return_data.success) {
                    var features = data.return_data.features;
					html = Page.get_service_features_html(features);
					$('#service_features').html(html);

					// Paypal isn't allowed for some services, disable it if necessary
					if (data.return_data.paypal_allowed) {
						// allow paypal
						$('#payment_type_paypal').removeAttr('disabled');
					} else {
						// disallow paypal
						$('#payment_type_cc').attr('checked', 'checked');
						$('.billing_block_pay').show('fast');
						$('#payment_type_paypal').attr('disabled', 'disabled');
					}

                } else {
                    alert(data.return_data.msg);
                }
            }, "GET");

		},

		get_service_terms: function(service_name) {
			Ajax.send_data('get_service_terms/', {
		        service: service_name
		    }, function(data) {
                if (data.return_data.success) {
                	$('#signup_service_terms').html(data.return_data.terms);
                }
            }, "GET");
		},

		goto_paypal: function() {

			if (Page.paypal_fee == 0 || confirm(
					"{% trans 'We charge a' %} " + Page.paypal_fee + "% " +
					"{% trans 'fee for choosing Paypal because of Paypal billing limitations. Are you sure you would like to pay with Paypal?' %}")) {
				Ajax.send_data('get_paypal_url/', {service: $('#service_select').val()}, function(data) {
	                if (data.return_data.success) {
	                    window.location = data.return_data.redirect_url;
	                } else {
	                    $('#errmsg').hide('slow').show('fast').text(data.return_data.msg);
	                    $('#submit').removeAttr('disabled');
	                }
	            }, "GET");
			}
		}

	};


	$(document).ready(function() {
        $('#submit').removeAttr('disabled');

		// loaded on window.ready
		$('#card_cvv2_fancybox').fancybox({'hideOnContentClick': true});

		Page.get_service_features($('#service_select'));

		Page.toggle_billing_selector();

	});

</script>
{% endblock %}

{% block content %}
<div class='block rounded_upper outer_content' style='padding-bottom: 20px; height: auto; background: #fff;'>



	<div class='order_heading' style='padding-top:5px; '>
	    <h1 style='color: #000; font-size: 3em;'>
	    	{% trans 'Billing information' %}
	    </h1>
	</div>

	<div style='float:right; width: 250px;'>

		<h3 class='mp'>{% trans 'Featuring' %}
		</h3>

		<div style='margin: 10px 0px 10px 0px;' id='service_features'>
		</div>

		<h3 class='mp'>{% trans 'Recently covered on' %}
		</h3>

		<div style='margin-top: 10px;'>

			<a href='/info/press/list/'><img border='0' alt='New York Magazine' src='/static/images/press/images/new_york.png'/></a>
			<br/>
			<a href='/info/press/list/'><img border='0' alt='Wall Street Journal' src='/static/images/press/images/wsj.png'/></a>

		</div>


	</div>


	<div style='background: #eee; padding: 10px; margin: 10px 0px 10px 0px; width: 450px;' class='rounded_upper rounded_lower'>
		<div>
			<span style='margin-bottom: 4px;'>
				 {% trans 'Service level:' %}
			</span>
			<select id='service_select' style='font-size: .9em;' onchange='Page.get_service_features($(this));'>
				{% for s, terms_string in services %}
					<option value='{{s.name}}' id='signup_service_{{s.slug}}' {% ifequal s service %}selected='selected'{% endifequal %} name='signup_service_{{s.name}}'>
						{{s.name}} - {{terms_string}}
					</option>
				{% endfor %}
			</select>
		</div>


	</div>




</div>

<div style='clear:both;'></div>



{% endblock %}
