{% extends 'mainv1_alias.html' %}
{% load i18n %}
{% block style %}

<style>
	.widgets_right {
	
		width: 20%;
	}
</style>

<!--[if IE]>
<style type="text/css"> 

	.widgets_right {
		width: 18%;
	}

</style>
<![endif]-->

{% endblock %}

{% block javascript %}
<script language="javascript">
	var Page = this.Page = {			
		set_rules_enabled: function(type, val) {
			Ajax.send_data('set_rules_enabled/', {type: type, val: val ? 1 : 0},
					function(data) {
						if (data.return_data.success) {
							// 
						} else {
							alert(data.return_data.msg);
						}
				}, "POST");
		},

		delete_rule: function(id) {
			if (confirm('{% trans "Are you sure you want to delete this rule for your entire team?" %}')) {
				Ajax.send_data('edit_rule/', {id: id, cmd: 'delete'},
					function(data) {
						if (data.return_data.success) {
							$('#rule_'+id).hide();
						} else {
							alert(data.return_data.msg);
						}
				}, "POST");
			}
		},

		reset_dashboard: function() {
			window.location="/";
		}
	};
	
	$(document).ready(function() {

	});
	
	
</script>
{% endblock %}

{%block global_style%}float: left; width:80%; text-align:left;{%endblock%}

{% block center_style %}padding-left:0px; {% endblock %}

{% block widgets_right %}
	
{% endblock widgets_right %}

{% block widgets_left %}

	<div style='padding-right: 10px;'>
	
    {% if alias.account.service.allow_sf %}
	    <div class='' style=''>
	    
		    <div class='compact_top' style='margin-top: 0px;'>
				<img src='/static/images/widgets/images/compact_top_left.png'/>
			</div>
			
			<div class="compact_heading box_heading">
				<h3>
		            <img src='/static/images/salesforce.png'/>{% trans 'Salesforce:' %} <span style='color: #eee'> {% if sfuser %}{% trans 'enabled' %}{% else %}{% trans 'disabled' %}{% endif %}</span>
				</h3>
			</div>
	    
	        
	        	        
	       	{% if not team_sfusers %}
	        <div class='status_msg'>
        		<b>{% trans 'Warning!' %}</b><br/>
        		{% trans 'None of your users on have Salesforce connected to Calenvy; install this' %} <a target='_blank' href='http://sites.force.com/appexchange/apex/listingDetail?listingId=a0N30000001e8euEAA'>{% trans 'AppExchange package' %}</a>
        	</div>
        	{% else %}
        		{% if not sfuser %}
        			{% comment %} Other folks in your team have SF installed, but you don't. {% endcomment %}	
        			<div style='background: #FCF8BC; padding: 5px; border: 1px solid #ccc;' >
	        			<b>{% trans 'Warning!' %}</b><br/>
	        			<a target='_blank' href='https://login.salesforce.com/'>{% trans "Log in to Salesforce" %}</a> {% trans 'and go to the Calenvy tab to sync your emails for the first time.' %}
        			</div>	
        		{% endif %}
        	{% endif %}
	        	        
	       	{% comment %}
        	<div style='background: #eee; padding: 2px; border-bottom: 1px solid #ccc;' >
        		<B>{% trans 'On Salesforce' %}</B>
        	</div>
        	<div style='padding: 10px;'>
        	
	        	<label>
		        	
		        	<input type='checkbox' {% if alias.sf_rules_enabled %}checked='checked'{% endif %} onclick='Page.set_rules_enabled("tSFO", $(this).is(":checked")); return true;' value='salesforce_enable_rules'/>
		        	<span style='font-size: .9em;'>
		        		{% trans 'Enable rules outlined to the left.' %} <!-- this is not a company wide setting - user only. -->
		        	</span>
	        	
	        	</label>
	        
	        </div> 
	        {% endcomment %}  
		    
		    <div class='compact_top' style='margin-top: 0px;'>
				<img src='/static/images/widgets/images/compact_top_left.png'/>
			</div>
			
			<div class="compact_heading box_heading">
				<h3>
					{% trans 'Salesforce installation & FAQ' %}				
				</h3>
			</div>
		    
	        <div style='padding: 10px;'>
	        	
		        1. <a href='http://sites.force.com/appexchange/apex/listingDetail?listingId=a0N30000001e8euEAA'>
		        {% trans 'Install AppExchange package' %}</a>.
	        
	        	<br/>
	        	
	        	2. {% trans 'Read the' %} <a target='_blank' href='/products/salesforce-automation/help/'>{% trans 'documentation' %}</a>.
	        	
	        	<br/>
	        	
	        	3. {% trans 'Read the' %} <a target='_blank' href='http://support.calenvy.com/documentation/index.php?title=Salesforce_Email_Sync_%28FAQ%29'>{% trans 'FAQ' %}</a>.
	        	
	        	
	        	<br/>
	        	
	        	4. {% trans 'Contact us for' %} <a target='_blank' href='mailto:founders@{{site.domain}}'>{% trans 'customization' %}</a>.
	        	
	        </div>

	        
	    </div>
    {% endif %}  

		</div>

{% endblock %}



{% block content %}
<div class='outer_block' style="height:; padding: 15px;">

	<h1>
    	{% trans 'Salesforce syncing rules & automation' %}
    </h1>
    
    <div style="margin-top: 0px;">
    	
	    <table class='tablesorter' id="rules" border="0" cellpadding="0" cellspacing="1" style='width: 95%;'> 
			<thead> 
			<tr> 
				<th>ID</th> 
				<th>{% trans 'Source' %}</th> 
				<th>{% trans 'Data extraction' %}</th> 
				<th>{% trans 'Action' %}</th> 
				<th>{% trans 'Author' %}</th>
				<th></th> 
			</tr> 
			</thead> 
			<tbody>
				{% for rule in sf_rules %}
				<tr id='rule_{{rule.id}}'> 
					<td>{{rule.id}}</td>
					
					<td>
						{% if rule.enabled_incoming and rule.enabled_outgoing %}
							{% trans 'Incoming & outgoing email' %}
						{% endif %}
						{% if rule.enabled_incoming and not rule.enabled_outgoing %}
							{% trans 'Incoming email' %}
						{% endif %}
						{% if rule.enabled_outgoing and not rule.enabled_incoming %}
							{% trans 'Outgoing email' %}
						{% endif %}
						{% if rule.enabled_contacts %}
							{% trans 'New Salesforce Contact' %}
						{% endif %}
						{% if rule.enabled_leads %}
							{% trans 'New Salesforce Lead' %}
						{% endif %}						
					
						{% ifequal rule.type 'tSFO' %}
						
							{% ifequal rule.match.addr.type 'str' %}							
								{% if rule.enabled_incoming and rule.enabled_outgoing %}
									{% trans 'via' %}
								{% else %}
									{% if rule.enabled_incoming %}{% trans 'from' %}{% else %}{% trans 'to' %}{% endif %}
								{% endif %}
								{% if rule.match.addr.matches %}
									<a href="mailto:{{rule.match.addr.data}}">{{rule.match.addr.data}}</a>
								{% else %}
									{% trans 'Any except' %}<a href="mailto:{{rule.match.addr.data}}">{{rule.match.addr.data}}</a>
								{% endif %}
							{% endifequal %}
							{% ifequal rule.match.addr.type 'domain' %}							
								{% if rule.enabled_incoming and rule.enabled_outgoing %}
									{% trans 'via' %}
								{% else %}
									{% if rule.enabled_incoming %}{% trans 'from' %}{% else %}{% trans 'to' %}{% endif %}
								{% endif %}
								{% if rule.match.addr.matches %}
									{{rule.match.addr.data}}
								{% else %}
									{% trans 'Any except' %}{{rule.match.addr.data}}
								{% endif %}
							{% endifequal %}
							{% ifequal rule.match.addr.type 'regex' %}
								{% if rule.match.addr.matches %}
									{% trans 'Matches regex:' %} {{rule.match.addr.data}}
								{% else %}
									{% trans 'Does not match regex:' %} {{rule.match.addr.data}}
								{% endif %}
							{% endifequal %}
							{% ifequal rule.match.addr.type 'team' %}							
								{% if rule.enabled_incoming and rule.enabled_outgoing %}
									{% trans 'via' %}
								{% else %}
									{% if rule.enabled_outgoing %}{% trans 'from' %}{% else %}{% trans 'to' %}{% endif %}
								{% endif %}
								{% ifequal rule.match.addr.data None %}
									{% trans 'any team member' %}
								{% endifequal %}
								{% for a in team_aliases %}
									{% ifequal rule.match.addr.data a.id %}
										<a href="mailto:{{a.email}}">{{a.email}}</a>
									{% endifequal %}
								{% endfor %}
							{% endifequal %}
							
						{% endifequal %}
					</td> 
					
					<td>
						{% if rule.regexes.count %}
							{{rule.regexes.count}} {% ifequal rule.regexes.count 1 %}{% trans 'field' %}{% else %}{% trans 'fields' %}{% endifequal %}
						{% else %}
							{% trans 'Auto' %}
						{% endif %}		
					</td>
					
					<td>
						{% for action in rule.actions %}
							{% ifequal action.action 'ignore' %}
								{% trans 'Ignore' %}{% if not forloop.last %}, {% endif %} 
							{% endifequal %}						
							{% ifequal action.action 'sync' %}
								{% trans 'Record to Salesforce activity history' %}{% if action.task_type %}: <b>{{action.task_type}}</b>{% endif %}{% if not forloop.last %}<br/> {% endif %} 
							{% endifequal %}
							{% ifequal action.action 'sync_opp' %}
								{% trans 'Record to Opportunity (beta)' %}{% if not forloop.last %}<br/> {% endif %} 
							{% endifequal %}		
							{% ifequal action.action 'create' %}
								{% trans 'Create Salesforce' %}
								{% ifequal action.type 'contact' %}
									{% trans 'Contact' %}{% if not forloop.last %}<br/> {% endif %}
								{% endifequal %}
								{% ifequal action.type 'lead' %}
									{% trans 'Lead' %}{% if not forloop.last %}<br/> {% endif %}
								{% endifequal %}
								{% ifequal action.type 'case' %}
									{% trans 'Case' %}{% if not forloop.last %}<br/> {% endif %}
								{% endifequal %}
							{% endifequal %}
							{% ifequal action.action 'followup' %}
								{% trans 'Launch' %}
								<a target='_blank' href='http://{{rule.remote_user.host}}/dash/campaign/{{action.campaign}}/template'>
									{% trans 'follow-up campaign' %} {{action.campaign}}
								</a>{% if not forloop.last %}<br/> {% endif %}
							{% endifequal %}
						{% endfor %}
					</td> 
					
					<td><a href='mailto:{{rule.owner_alias.email}}'>{{rule.owner_alias.get_full_name_or_email}}</a></td>
					
					<td>
						<a href='{{rule.id}}'>{% trans 'Edit' %}</a> 
						<a href='#' onclick='Page.delete_rule({{rule.id}}); return false;'>{% trans 'Delete' %}</a>
					</td> 
					
				</tr>
				{% endfor %}
						
			</tbody> 
		</table> 
    	
    	<input type="button" value="{% trans "New rule" %}" onclick="window.location='new'; return false;"/>
    	
    	
    </div>
		
    <div style="clear:both; height:1px;"></div>
</div>

{% endblock content %}

{% block modals %}

<div style='clear: both; z-index: 1000000;' class='modals'>

</div>

{% endblock %}
