{% load i18n %}<html lang="en-US">
<head>
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
<link rel="stylesheet" href="/static/css/bootstrap.css" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/site_dash.css" type="text/css" media="screen">
<script src='/static/js/bootstrap.min.js'></script>
{% block style %}
	<!-- additional stylesheets go here -->
{% endblock style %}

<!--[if IE]>
<style type="text/css"> 

#header_nav span {
		margin-right: 10px;
}
.header_title {
	left: -10px;
	position: relative;
}
#parse {
	z-index: 100000;
}

#loading_bar {
    position:absolute;
    top:0;
}

.ie_logo {
margin-left: 10px;
}

.giant_config_modal {
	position: absolute;
}

.action_icon {
	
}
.me_event {
	padding-bottom: 0px;
}
.header_logo {
	margin-left: 10px;
}
</style>
<![endif]-->

<!--[if IE]><script language='javascript' src='/static/js/lib/canvas.js'></script><![endif]-->
<script src="/static/js/lib/jquery-1.4.2.min.js" type="text/javascript"></script>
<!-- <script src="/static/js/lib/jquery.scrollto.min.js" type="text/javascript"></script> -->

{% block extra_header %}
	<!-- additional stylesheets go here -->
{% endblock %}

<link rel="stylesheet" href="/static/js/lib/fancybox/jquery.fancybox-1.2.6.css" type="text/css" media="screen">
<script type="text/javascript" src="/static/js/lib/fancybox/jquery.fancybox-1.2.6.pack.js"></script>
<script type="text/javascript" src="/dash/main_javascript.js?agent={{agent}}"></script>

{% block javascript %}
	<!-- additional javascript goes here -->
{% endblock javascript %}

{% block extra_javascript %}
	<!--  more additional javascript goes here -->
{% endblock extra_javascript %}

<title>{{site.name}} - {% block title %}{% trans 'Dashboard' %} {% endblock title %}</title>

</head>

<body style='margin: 0px; background: #FFFEEA; background-position: top center; background-repeat: no-repeat;'>
{% include 'csrf_token.html' %}

{% block modals %}

{% endblock modals %}

<div style='height: auto;' align='center'>

	<div style='background: #fff url(/static/images/white_bg.gif) repeat-x; border-bottom: 3px solid #eee;'>
		<div style='border-bottom: 1px solid #ccc;'>
			<div style='width: 99%; '>
	           {% include 'main_header_nav.html' %} 
			</div>
		</div>
	</div>

	<div style='width: 99%; height: auto; background:; clear: both; padding-top: 10px; '>
		
		<div class='widgets_left' style='float: left; width: 20%; text-align: left; '>
			{% block widgets_left %}
			
			{% endblock %}
		</div>
		
		<div id='container_center' style="{%block global_style%}float: left; width:59%; text-align:left;{%endblock%}">
		
			<div style='{% block center_style %}padding-left:10px;{% endblock %}'>
			
		    <div class="" style='background: #eee; border: 1px solid #ccc; height: auto; color: #FCF8BC; margin-top: ; '>
					
	                {% block header %}
						
	                {% endblock header %}
		           
		            {% if messages %} 
		                <div class='block msg_block' style='margin-top: 10px; margin-bottom: 10px; background: #fff; color: #D6156C;'>
		                    
		                    <strong>{% trans 'Notifications:' %}</strong>
		                    
		                    <ul>
		                    {% if messages.warnings %}
		                        {% for warning in messages.warnings %}
		                        <li>Warning: {{ warning }}</li>
		                        {% endfor %}
		                    {% endif %}
		                    {% if messages.notices %}
		                        {% for notice in messages.notices %}
		                        <li>Notice: {{ notice }}</li>
		                        {% endfor %}
		                    {% endif %}
		                    </ul>
		
		                </div>
		            {% else %}
		            {% endif %}
		        </div>
		        <div style='clear:both; border-right: 1px solid #ccc; border-left: 1px solid #ccc;' class='{% block content_class %}{% endblock %}'>
		        {% block content %}
			        
		        {% endblock content %}
		        </div>
		        
		        {% block main_footer %}
		        <div style='background: #fff; border:1px solid #ccc; height: auto; color: #000;'>
		        
			        {% block footer %}
			        {% endblock %}
			        
			        
		        </div>
		        {% endblock main_footer %}
		        
	        </div>
		
	    </div> <!-- end content container -->
	    
		{% block widgets_right %}
		{% comment %}
			<div style='float:right; width: 19%;'>
	
			
			</div>
		{% endcomment %}
		{% endblock widgets_right %}				
		
	    
		<div style='clear:both;'>
		
		</div>
	</div>
	
</div>

<!-- new site design -->

<div id="loading_bar" class='loading_bar rounded_lower' style="z-index:1000009;display:none; font-weight: bold; border: 2px solid #F4E9DF; border-top: 0px; top:0px; left: 48%; width: auto; color: #fff; padding: 10px; background:url(/static/images/dark_bg.gif) #000; background-repeat: repeat-x;">
{% trans 'Please wait...' %}
</div>

<div id='dark_overlay' style='display: none;position: fixed; z-index: 3; opacity: .5; background: #000; top: 0px; left: 0px; width: 100%; height: 100%; cursor: pointer;' onclick='Page.toggle_open_box();return false;'></div>

{% block prompt %}
	{% comment %} Prompt that can be used anywhere as a replacement for javascript prompt {% endcomment %}
	<a style='display:none;' class="" id='prompt_link' href='/info/prompt/'></a>
{% endblock %}

</body>

</html>