{% extends 'mainv1.html' %}
{% load i18n %}
{% block style %}
<style>
    .post_button a, .post_button a:link {
        color: #000;
        text-decoration: none;
    }
    .post_button {
        padding: 5px;
        margin-right: 10px;
        background: url(/static/images/yellow_bg.gif) #FCF8BC; 
        background-repeat: repeat-x; 
        -moz-border-radius: 10px; 
        -webkit-border-radius: 10px;
        color: #000;
        border: 1px solid #FFF;
        border-bottom: 1px solid #2B2825;
    }
	.block {
		color: ;	
	}
</style>
{% endblock %}

{% block javascript %}
<script language="javascript">
	$(document).ready(function() {

	});
</script>
{% endblock %}

{% block content_class %}white_bg outer_content{% endblock %}

{% block header %}
	<div style="border: 1px solid #ccc; background: #eee;" class="block block_header">
		<h2>{% trans 'Unsubscribe' %}</h2>
	</div>
{% endblock header %}
{% block content %}
<div class='block' style=''>
<!--background: url(/static/images/green_bg.gif) #0B8C8F; background-repeat: repeat-x; height: auto; color: #FFF ;-->
   
   	{% if contact.subscribed %}
	    <p>
		    {% trans 'Click the button below to unsubscribe your email address:' %} <b>{{contact.email}}</b>. 
	    	
	    </p>
	    
	    <p style='margin-top: 15px;'>
	    	<input type='button' value='{% trans "Unsubscribe" %}' onclick='window.location=window.location+"&unsubscribe=1"; return true;' />
	    </p>
    {% else %}
	    <p>
		    {% trans 'You have been unsubscribed. This change will take effect immediately. Thank you!' %}
	    </p>
	   
    {% endif %}
    
</div>
{% endblock content %}
