{% extends 'main.html' %}
{% load i18n %}

{%block global_style%}{%endblock%}
{% block header_style %}width: 800px; padding-top: 10px;{% endblock %}
{% block header %}{% endblock %}
{% block content_class %}{% endblock %}

{% block style %}
<style>
.block {
	background-color: ;
}
.signup_block {
	padding-bottom: 15px;
}
.yellow_order_box {
	border: 1px solid #ccc;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	position: relative;
	top: 0px;
	width: 183px; 
	height: 227px; 
}

.order_box .title h1 {
	padding-top: 6px;
	color: #000;
}
	
.order_box hr {
	height: 1px; 
	background: #ccc; 
	margin: 10px;
	border: 0px;
}

.order_box .features {
	background: url(/static/images/order/images/signup_button.gif) bottom center no-repeat; 
	height: 140px;
	cursor: pointer;
	text-align: center;
}

.order_box .features strong, h3 strong {
	color: #D6156C;
	font-size: 1.2em;
}

.signup_info h3 {
	margin-top: 20px;
}
.terms a {
	color: #000;
}

</style>
{% endblock %}

{% block javascript %}

<script type="text/javascript">
Cufon.replace('h1, h3');
</script>

<script language="javascript">
	$(document).ready(function() {
	
	});
	var Page = this.Page = {
		
		

	};

</script>
{% endblock %}

{% block content-heading %}
        
{% endblock %}

{% block content %}
<div class='col-lg-7 mx-auto' style='padding-bottom: 20px; height: auto; background:;'>
		<div class='signup_section' style=''>
			<div class='' style='margin-top:;'>
				{% if payment_required and not success %}
					<div class='signup_block' style='padding-bottom: 15px;'>
						<h1 style='margin-top: 0px;'>{% trans 'Payment failed' %}
						</h1>
						{% trans 'Please contact us at' %} founders@{{site.domain}} {% trans 'and include your payment transaction ID from Paypal as well as receipt information.' %}
					</div>
				{% else %}
					<h1 style='margin-top: 0px;'>
					{% if success %}
						{% trans 'Thanks! Your account has been' %} {% if modify %}{% trans 'modified' %}{% else %}{% trans 'created' %}{% endif %}.
					{% else %}
						{% trans 'Signup failed' %}
					{% endif %}
					</h1>
					<div class='signup_block'>
						{% if success %}
							{% trans 'Check your email' %} {% if alias_email %} at <b>{{alias_email}}</b> {% endif %} {% trans 'for important account information.' %}
						{% else %}
							{% trans 'Please contact us at' %} <a href='mailto:founders@{{site.domain}}'>founders@{{site.domain}}</a>.
						{% endif %}
					</div>
				{% endif %}
			</div>
			
			{% if details %}
				<div id='signup_section_agree' style='clear: left; background: #eee; padding: 15px; margin-bottom: 10px;' class='rounded_upper rounded_lower'>
					<h3>{% trans 'Payment overview' %}</h3>
					
					<b>{{details.st}}</b>
					
					<br/>
					<br/>
					
					<strong>{% trans 'Amount' %}:</strong> <i>${{details.amt}} {{details.cc}}</i>
					
				</div>
			{% endif %}
			
			<div class='signup_block'>
				{% if alias %}
					<input class='btn btn-secondary' type='button' onclick='window.location = "/dash/{{alias.account.base_url}}/"; return false;' value='{% trans "Click here to visit your dashboard" %}' />
				{% endif %}
			</div>
			
            
            {% comment %}
			<div class='signup_block row'>
				
                <div class='rounded_upper rounded_lower col-lg-6' style='margin-right:;'>
					<div style='padding: 10px;'>
						<h3>{% trans 'Outlook 2007 application' %}</h3>
						<div style='font-size: .9em; margin-top: 10px;'>
							Grab our Outlook 2007 app for easy integration with Outlook.
						</div>
						
						<div style='margin-top: 10px; text-align:center;'>
							<button class='btn btn-primary'>Download now</button>
						</div>
						
					</div>
				</div>
				
                
				{% if alias.account.service.allow_firefox %}
				<div class='rounded_upper rounded_lower col-lg-6' style='margin-right:;'>
					<div style='padding: 10px;'>
						<h3>{% trans 'Gmail integration for Firefox' %}</h3>
						<div style='font-size: .9em; margin-top: 10px;'>
							Grab our Firefox app for tight integration with Firefox.
						</div>
						
						<div style='margin-top: 10px; text-align:center;'>
							<button class='btn btn-primary'>Download now</button>
						</div>
						
					</div>
				</div>
				{% endif %}
				
				
			</div>
			<div style='clear:both;'></div>
            {% endcomment %}
						
		</div>
	
	<div style='clear:both;'></div>
</div>

{% endblock %}
