{% load i18n %}{% load assist_tags %}

{% block content %}
t
{% endblock %}

{% block footer %}
<p>
    
    <div style='color: #999; margin-top: 10px;'>
    
    {% trans 'Powered by' %} {{site.domain}}<br/>
    <a href='http://{{site.domain}}'>http://{{site.domain}}</a>
    
    	{% trans 'For more information about' %} {{site.name}}, {% trans 'please see our' %}
    	<a href='http://{{site.domain}}/info/faq/'>{% trans 'FAQ' %}</a>.
    </div>
    
    <div>
    	{% if alias.is_admin %}
			{% if alias.account.service %}
				{% if alias.account.trial_period %}
					{% if alias.account.date_expires %}
						<p>
						{% trans 'You have' %} ~<b>{{alias.account.date_expires|days_remain}}</b> {% trans 'remaining until your next billing or expiration.' %}
						</p>
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}   	
    </div>
    
</p>
{% endblock footer %}