{% extends 'emails/main.v1.html' %}
{% load i18n %}

{% block content %}

<div style='padding: 10px; border: 1px solid #ccc; margin: 5px;'>
	{% trans 'Your login link is:' %}
	<a href="http://{{site.domain}}/dash/?alias={{alias.slug}}">http://{{site.domain}}/dash/?alias={{alias.slug}}</a>    
	
</div>

<p>
	{% blocktrans %}
	If you have forgotten your password, please email <a href="mailto:founders@{{site.domain}}">founders@{{site.domain}}</a> and we will 
	gladly reset your password.
	{% endblocktrans %}
</p>


{% endblock %}