{% extends 'modals/wizard.html' %}
{% load i18n %}

{% block wizard_id %}contacts_import{% endblock %}

{% block wizard_js %}

<script type="text/javascript" src="/static/js/lib/ajaxupload.3.2.js"></script>

<script language="javascript">
	
	var WizardContactsImport = this.WizardContactsImport = {

		data: false,
		
	    hide: function() {
	        $('.wizard').hide();
	    },
	    
	    get_data: function(resp) {
			$('.wizard_contacts_import_select').show();
			WizardContactsImport.data = resp;
			WizardContactsImportSelect.fill_data(resp);
	    },

	    show_import_dialog: function() {
		    // Agree to the terms: Show the CSV dialog right away
	    	$('#csv_dialog').show();
		    
		    // Load the Plaxo dialog scripts and show the Plaxo link only when Plaxo is loaded
	        if (typeof showPlaxoABChooser === "undefined") {

	    		var num_scripts_loaded = 0;
	    		var func_loaded = function() {
	        		num_scripts_loaded++;
	        		if (num_scripts_loaded == 3) {
	    		    	$('#plaxo_dialog').show();
	        		}
	    		}
	    		
	    	    $.getScript("http://www.plaxo.com/css/m/js/util.js", func_loaded);
	    	    $.getScript("http://www.plaxo.com/css/m/js/basic.js", func_loaded);
	    	    $.getScript("http://www.plaxo.com/css/m/js/abc_launcher.js", func_loaded);
	    	} else {
		    	$('#plaxo_dialog').show();
	    	}
	    },
		    
	    hide_import_dialog: function() {
		    $('#csv_dialog').hide();
		    $('#plaxo_dialog').hide();
	    }

	}
    
	$(document).ready(function() {
		$('#validate_ok').attr('checked', false);

		new Ajax_upload('#upload_file_csv', {
			action: '/ajax/upload_csv/',
			name: 'upload_file_csv',
			onComplete : function(file, response){
				// Certain characters are escaped on the other end, since Ajax_upload (unfortunately) wants
				//  to parse the result as HTML
				response = response.replace(/&amp/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>');
				resp = JSONLib.parse(response);
				if (resp.success) {
					WizardContactsImport.get_data(resp);
					return false;
				} else {
					alert('{% trans "Could not process your .csv file." %}');
				}
				return false;
			}	
		});
	});
	
</script>
{% endblock %}

{% block left_content %}


		<div style='padding: 10px 10px 0px 10px;'>
			<div style='color: #2B2825; font-size: 1.5em;'>{% trans 'Importing is easy.' %}</div>
			<div style='margin-top: 10px; margin-bottom: 20px;'>
				<img src='/static/tango/apps/system-installer.png' style='margin-right: 5px;'/>{% trans "Upload contacts (<b>.csv</b>) or import via Plaxo.com" %}
			</div>
			<div style='margin-top: 10px; margin-bottom: 20px;'>
				<img src='/static/tango/emblems/emblem-important.png' style='margin-right: 5px;'/>{% trans "Select appropriate Contact-specific fields for your import." %}
			</div>
			
			
		</div>
		
		<div style='padding: 10px;'>
			{% comment %}
			<div style="background: url(/static/images/yellow_bg.gif) #FCF8BC; background-repeat:repeat-x; padding: 10px; margin-top:;" class="rounded_upper rounded_lower notify">
	    		<h3>{% trans 'Exporting' %}</h3>
	    		<div>
	    			{% trans 'Exporting Contacts is possible by' %} <a href='mailto:founders@{{site.domain}}'>{% trans 'emailing our team' %}</a>.
	    			<div style='margin-top: 10px;'>
	    				{% trans 'If you have any questions or concerns, please email:' %} founders@{{site.domain}}
	    			</div>
	    		</div>
	    		
	    	</div>
	    	{% endcomment %}
	    	<br/><br/><br/>
		</div>
{% endblock %}

{% block content %}

	<div class='bg-aqua' style='border-bottom: 1px solid #CCC;'>
		
		<div style='padding: 10px; position: relative; left: 10px; '>
			{% trans 'Import contacts from Plaxo.com or <b>.csv</b> file' %}
		</div>
		
	</div>

	<div style='' align='left'>
		
		<div style='padding: 10px; position: relative; left: 10px; '>
			<h3>{% trans 'Before you import your contacts, do you have their permission?' %}</h3>
		
			<div style='padding: 10px 0px 10px 0px;'>
				{% blocktrans %}
				Please make sure you've reviewed the checklist for sending solicited, 
				non-spam emails.  It's easy for us to identify spammers, and we terminate
				spammer accounts immediately.
				{% endblocktrans %}
			</div>
			
			<div style='padding: 0px 0px 0px 0px;'>
				{% trans '1. Person purchased a product from you within last 2 years.' %}
				<br/>
				{% trans '2. Opted in from your site.' %}
				<br/>
				{% trans '3. Handed you a business card to be contacted from you.' %}
				<br/>
				{% trans '4. Completed a physical form indicating they want to be contacted via email.' %}
			</div>
			
			<div style='padding: 10px 0px 10px 0px;'>
				<label>
				<input type='checkbox' name='validate_ok' id='validate_ok' onclick='if ($(this).is(":checked")) { WizardContactsImport.show_import_dialog(); } else { WizardContactsImport.hide_import_dialog(); }' value='1'/>
				{% trans 'At least one item above is applicable to me.' %}
				</label>
			</div>
			
			<form action="#" method="POST" enctype="multipart/form-data">
				<table cellpadding='3' border='0' style='font-size:.9em;'>
					<tr name='csv_dialog' id='csv_dialog' style='display: none;'>
						<td><b>{% trans 'Upload .csv file' %}</b></td>
						<td><input type="file" accept="text/plain,text/csv" name='upload_file_csv' id='upload_file_csv' class='input' /></td>
					</tr>
					
					<tr name='plaxo_dialog' id='plaxo_dialog' style='display: none;'>
						<td><b>{% trans 'Import from Plaxo' %}</b></td>
						<td><a href='#' onclick='Contacts.show_plaxo(); return false;'>{% trans 'Click here' %}</a></td>
					</tr>
					
				</table>
				
			</form>
			
		</div>
		
		
		
		
		
		{% comment %}		
		<form name='upload_csv' method='POST' enctype='multipart/form-data' action='/ajax/upload_csv/'>
			<input type="file" accept="text/plain,text/csv" name='upload_file_csv' id='upload_file_csv'>
			<div>
				<input type='submit' name='upload_file_submit' value='{% trans "Continue" %}'/>
			</div>
		</form>
		{% endcomment %}
		
	</div>
{% endblock content %}
