{% load i18n %}

<div class="file_request_modal jqmWindow" id="" style=" width: 500px;">
<form action='' method='POST' onsubmit='Page.request_perms_modal(); return false;'>
	<input type='hidden' name='file_modal_slug' value='' id='file_modal_slug'/>
	<div class="modalhead" style="cursor: move;">
	<div style='float:right; clear: right;'>
		<a class="jqmClose" href="javascript:void(0);">
			<img border="0" src="/static/jqGrid/themes/sand/images/ico-close.gif"/>
		</a>
	</div>
	<div class='modaltext' style='padding: 3px;'><h3>{% trans 'Access files' %}</h3></div>
	
	</div>
	<div class="" style='background: #fff;'/>
		<div class='block' style='display:none; padding-bottom: 20px;' id='modal_complete'>
			<h1>
				{% trans 'File access request has been sent.' %}
			</h1>
			<div style='padding: 10px;'>
				
				<div style='margin-top: 10px;'>
				<h2>{% trans 'What now?' %}</h2>
					{% trans 'Please provide the file owner some time to approve your access to the file.' %}
				</div>
			</div>
		</div>
		<div class="block" id="alertcnt">
			<div>
				
				<div style='padding: 10px;'>
					<p>
						{% trans 'Would you like to request permission to download the file' %}
						<b><span id="file_modal_name"></span></b>?
					</p>
					
					<p>
						{% trans 'Click Request below to send an email request to' %}
						<b><span id="file_modal_owner"></span></b>
						{% trans 'for file access.' %}
						
					</p>
				</div>
				
				<div style='height: 1px; clear: both;'></div>
										
				<div id='signup_submit' style='margin-top: 20px;'>
					<input type='submit' name='submit' value='Request' class="rounded_upper rounded_lower big_input_submit toggle"/>
				</div>
								
				<div style='height: 10px; clear: both;'></div>
			</div>
		</div>
	</div>
</form>
</div>