{% extends 'modals/wizard_full.html' %}
{% load i18n %}

{% block wizard_id %}video_overview{% endblock %}

{% block wizard_js %}
<script language="javascript">
	
	var WizardVideo = {
	    hide: function() {
	        $('.wizard').hide();
	    }
	}
    
	$(document).ready(function() {
		
	});
	
</script>
{% endblock %}

{% block bottom %}
		
{% endblock %}

{% block content %}
		<div style='background: url(/static/images/yellow_bg.gif) #FCF8BC; border-bottom: 1px solid #CCC;'>
			
			<div style='display: inline;  margin: 7px; border: 2px solid #ccc; font-size: 1.2em; font-weight: bold;' class='post_button'>
	        	<a href='#' onclick='WizardVideo.hide(); return false;'>{% trans 'Close' %}</a>
	    	</div>
			
			<div style='padding: 10px; position:relative; left: 10px;'>
				{% trans 'Watch the video overview' %}
			</div>
			
			
			
		</div>
		
		
		
		<div style='padding: 10px; text-align:center;' align='center'>
			
				
			
			
			<!-- start wizard content -->
			{% ifequal settings.SERVER 'live' %}
			
				<OBJECT classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000'
		        codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0'
		        width="935" height="478">
		        <param name='movie' value="/static/uploads/videos/noted_1.swf">
		        <param name='quality' value="high">
		        <param name='bgcolor' value='#FFFFFF'>
		        <param name='loop' value="false">
		        <param name="allowFullScreen" value="true" />
		        <EMBED allowFullScreen='true' src="/static/uploads/videos/noted_1.swf" quality='high' bgcolor='#FFFFFF' width="935"
		        height="478" loop="false" type='application/x-shockwave-flash'
		        pluginspage='http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash'>
		        </EMBED>
				</OBJECT>
			
			{% endifequal %}
			
			<!-- end wizard content -->
		</div>
{% endblock content %}
