{% load i18n %}{% load assist_tags %}
{% block content %}

{% endblock content %}

{% block forward %}

{% endblock forward %}


{% block footer %}
<p style='margin-top: 10px;'>
--<br/>
{%if assistant.first_name %}{{assistant.first_name}}<br/>{{assistant_email}}{%else%}
{%if alias %}
{{alias.account.get_assistant.first_name}}<br/>
{{alias.account.get_assistant.email}}
{% endif %}
{%endif%}
</p>
{% endblock footer %}

{% block postscript %}

{% endblock %}

{% block powered_by %}
<p style='font-size: .8em; color: #CCC;'>
    {% trans 'Powered by' %} <a href='http://{{site.domain}}'>{{site.name}}</a>. 
    {% ifequal alias.status 'aACT' %}
    {% if site %}
    {% trans 'Login to your account: ' %}
    	<a href="http://{{site.domain}}/dash/?alias={{alias.slug}}">
    	http://{{site.domain}}/dash/?alias={{alias.slug}}
    	</a>
	{% endif %}
	{% endifequal %}
	
	{% if alias.is_admin %}
		{% if alias.account.service %}
			<p style='margin-bottom:10px;'>
				{% trans 'You are signed up for the' %} {{alias.account.service.name}} {% trans 'service' %}.
				{% if alias.account.trial_period %}
					{% if alias.account.date_expires %}
						{% trans 'You have' %} ~{{alias.account.date_expires|days_remain}} {% trans 'remaining until your next billing or expiration.' %}
					{% endif %}
				{% endif %}
			</p>
		{% endif %}
	{% endif %}
	
</p>
{% endblock %}