{% extends 'emails/main_signup.html' %}{% load i18n %}
{% block content %}
    <p style='margin-bottom:10px;'>
    	{{alias.greeting}},
    </p>
    
    <p style='margin-bottom:10px;'>
    	{% blocktrans %}
    		We have activated your service with Noted!  Please see the details:
    	{% endblocktrans %}
    </p>
    
     <p style='margin-bottom:10px;'>
    	<b>{% trans 'Service type' %}:</b>		{{account.service.name}}<br/>
    	{% if account.name %}
	    	<b>{% trans 'Network name' %}:</b>	{{account.name}}<br/>
	    {% endif %}
	    <b>{% trans 'Account admin email' %}:</b>	{{alias.email}}<br/>
    </p>
    
{% endblock %}

