{% load i18n %}{% load assist_tags %}

{% block intro %}
	{% if intro %}
		{% if assistant %}
			{% if assistant_alias %}
				<p style='margin-bottom:10px;'> 
					{% trans "Hi! I'm" %} {{assistant.first_name}}{% if assistant_alias.first_name %}, {{assistant_alias.first_name}}{% trans "'s assistant" %}{% else %}, {% trans 'an email assistant' %}{% endif %}, {% trans 'powered by' %} <a href='http://{{site.domain}}'>{{site.name}}</a>. 
					{% trans "I am very persistent about scheduling meetings, so you may receive a reminder email (or two) from me." %}
				</p>
			{% endif %}
		{% endif %}
	{% endif %}
{% endblock intro %}


{% block content %}

{% endblock content %}

{% block forward %}
<div style='margin-bottom:10px;'> 
	{% if old_emails %}
		<p style='margin-bottom:10px;'>--- {% trans 'Forwarded message' %} ---</p>
	    {% for e in old_emails %}
	        {% quote_email %}
	        
	    {% endfor %}
	{% endif %}
</div>
{% endblock %}

{% block post_content %}
{% endblock %}

{% block footer %}
<p style='margin-top: 10px;'>
--<br/>
{% if assistant %}
    {{assistant.first_name}}
    {% if not intro %}
		{% if not self_assistant %}
			{% if assistant_alias.first_name %}
				({{assistant_alias.first_name}}{% trans "'s assistant" %})
			{% endif %}
		{% endif %} 
	{% endif %}   
    <br/>
    {{assistant.email}}
{% else %}
    {%if assistant.first_name %}
        {{assistant.first_name}}<br/>
        {{assistant_email}}
    {%else%}
        {% if alias %}
            {{alias.account.get_assistant.first_name}}<br/>
            {{alias.account.get_assistant.email}}
        {% endif %}
    {% endif %}
{% endif %}


</p>
{% endblock footer %}

{% block postscript %}

{% endblock %}

{% block powered_by %}
<p style='font-size: .8em; color: #333;'>
    {% trans 'Powered by' %} <a href='http://{{site.domain}}'>{{site.name}}</a>.
    {% if not alias %}
    	<a href='http://{{site.domain}}'>{% trans 'Click here' %}</a> {% trans 'to get your own personal scheduling assistant' %} .
    {% endif %} 
    {% ifequal alias.status 'aACT' %}
	    {% if alias %}
	    {% if site %}
	    {% trans 'Login to your account: ' %}
	    	<a href="http://{{site.domain}}/dash/?alias={{alias.slug}}">
	    	http://{{site.domain}}/dash/?alias={{alias.slug}}
	    	</a>
		{% endif %}
		{% endif %}
		<br/>
		
		{% if alias.is_admin %}
			{% if alias.account.service %}
				{% if alias.account.trial_period %}
					{% if alias.account.date_expires %}
						{% trans 'You have' %} {{alias.account.date_expires|days_remain}} {% trans 'remaining on your free trial.' %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	{% endifequal %}
	
</p>
{% endblock %}