{% extends 'emails/main.html' %}{% load i18n %}

{% block content %}
<p style='margin-bottom:10px;'>
    {% trans 'What timezone are you in? ' %}<Br/>
    <ul>
    {% for timezone in timezone_list %}
       		<li>{{ timezone.short_hand }}</li>
    {% endfor %}
    </ul>
</p>
{% endblock content %}