{% extends 'emails/main_assist.html' %}{% load i18n %}{% load assist_tags %}
{% block content %}

    <p style='margin-bottom:10px;'>
    	{{alias.greeting}},
    </p>
    
    <p style='margin-bottom:10px;'>
    	{% trans "Follow this link to reset your password on" %} {{site.domain}}:
    </p>
    
    <p style='margin-bottom:10px;'>
    	<a href="http{% if has_ssl %}s{% endif %}://{{site.domain}}/login/reset_password/{{recovery_slug}}">http://{{site.domain}}/login/reset_password/{{recovery_slug}}</a>
    </p>
    
    <p style='margin-bottom:10px;'>
    	{% trans "This link will expire in 24 hours." %}
    </p>
    
{% endblock content %}

{% block post_content %}
 
{% endblock post_content %}

