{% extends 'emails/main.html' %}{% load i18n %}{% load assist_tags %}{% load account_tags %}

{% block content %}

	<p style='margin-bottom:10px;'>
		{{alias.greeting}},
	</p>
	
	<p style='margin-bottom:10px;'>
	{% trans "I'm happy that you've signed up" %} {{num_excess_users}} additional user{{num_excess_users|pluralize}} on your account!
	</p>
	
	Please note that your current subscription allows a maximum of <b>{{account.max_users}}</b> user{{account.max_users|pluralize}}.
	
	{% if inactivated_already %} Unfortunately, we had to temporarily suspend your account. {% endif %} 
	To continue with {{account.num_active_aliases}} users on your account, you will need to upgrade your account.
	 
    <h3>{% trans "To keep using" %} {{site.name}}:</h3>
    
	{% trans "You can..." %}
	
	<ul>
		{% if higher_services %}
			<li>
				<a href="#services">Upgrade to one of our services below and save!</a>
			</li>
		{% endif %}
		<li>
			<a href="http{% if has_ssl %}s{% endif %}://{{site.domain}}/dash/?alias={{alias.slug}}&to=/info/go/{{account.service.name|lower}}">Add {{num_excess_users}} more user{{num_excess_users|pluralize}}</a>
			to your existing <b>{{account.service.name}}</b> subscription
		</li>
	</ul>
	
	{% if not inactivated_already %}
		Please take action by <b>{{account.date_inactivate_max_users_exceeded|date:"m/d/Y"}}</b>, or we'll
		have to temporarily suspend your account. Don't worry -- your data will be ready for you when you are!
	{% endif %}
	
	<h3 id='services'>{% trans "Choose one of these great packages!" %}</h3>
	
	{% for s in services %}
		<div style='background: #ffd; padding: 5px; margin-bottom: 15px;' id='service_{{s.service_name|lower}}'>
			<b>{{s.service.name}} upgrade</b><br/>	
			<div id="{{s.service.name}}_features">
				<ul>
					{% ifequal s.service account.service %}
						<li>Add extra users to your existing service</li>
					{% else %}
						{% for f in s.features %}
							{% ifequal f.type 'checkbox' %}
								{% if f.value %}
									<li>{{f.name|safe}}</li>
								{% endif %}
							{% endifequal %}
						{% endfor %}
					{% endifequal %}
				</ul>
			</div>
				
			<a href="http{% if has_ssl %}s{% endif %}://{{site.domain}}/dash/?alias={{alias.slug}}&to=/info/go/{{s.service.name|lower}}">{% trans 'Upgrade now' %}</a>
			
			<b style='color: blue;'>{{s.price}}</b>
		</div>
	{% endfor %}

	<p style='margin-bottom:10px;'>
		{% trans 'Optionally, you can' %} 
		<a href="http{% if has_ssl %}s{% endif %}://{{site.domain}}/dash/?alias={{alias.slug}}&to=/dash/{{account.base_url}}/admin/">remove at least {{num_excess_users}} user{{num_excess_users|pluralize}}</a>
		{% trans 'from your account to continue using the service uninterrupted' %}.
	</p>	
	
	<h3>
		{% if inactivated_already %}
			{% trans "Have a question?" %}
		{% else %}
			{% trans "Need additional time?" %}
		{% endif %}
	</h3>
	
	{% trans "Please email" %} <a href='mailto:founders@{{site.domain}}'>founders@{{site.domain}}</a> {% trans "with your request" %}.


	<p style='margin-bottom:10px;'>
		{% trans "Thanks for using" %} {{site.name}}!
	</p>
	
{% endblock content %}

{% block footer %}
	
	<p style='margin-bottom:10px;'>
		-- {{assistant.first_name}} 
	</p>
{% endblock %}

{% block powered_by %}
{% endblock %}




