{% extends 'emails/main.html' %}{% load i18n %}{% load assist_tags %}{% load account_tags %}

{% block content %}

	<p style='margin-bottom:10px;'>
		{{alias.greeting}},
	</p>
	
	<p style='margin-bottom:10px;'>
		{% trans "Checkout the latest" %} <a href='http://{{site.domain}}/blog/'>{% trans 'blog' %}</a> {% trans 'entries' %}: 
    </p>
    
   	{% for post in blog_posts %}
       	<div style='margin-bottom:15px; padding-top: 5px; border-top: 1px solid #eee;'>
       		<h2><a href='http://{{site.domain}}{{post.get_absolute_url}}'>{% render post.title %}</a></h2>
       		<div style='color: #ccc;'>{{post.publish|date:"F d, Y"}}</p></div>
       		<div>
       			{% render post.body replace_relative_links %}
       		</div>
       	</div>
   	{% endfor %}

{% endblock content %}

{% block footer %}

--<br/>

<br/>


<img src='http://{{site.domain}}/static/images/headache_badge.png' /><br/>

Calenvy<br/>
<a href='mailto:calenvy@{{site.domain}}'>calenvy@{{site.domain}}</a><br/>

{% comment %}
	<br/>
	<b>New!</b> Calenvy for Google mail: <br/>
	<a href='https://addons.mozilla.org/en-US/firefox/addon/14222'>https://addons.mozilla.org/en-US/firefox/addon/14222</a> <br/>
{% endcomment %}

<br/>

Calenvy for Salesforce: <br/>
<a href='http://sites.force.com/appexchange/listingDetail?listingId=a0N30000001e8euEAA'>http://sites.force.com/appexchange/listingDetail?listingId=a0N30000001e8euEAA</a> <br/>

<br/>

Calenvy for Outlook: <br/>
<a href='http://calenvy.com/products/outlook/download/'>Outlook 2007 & 2010</a>
<br/>

<br/>

Company blog: <a href='http://calenvy.com/blog'>http://calenvy.com/blog</a> <br/>
Company Twitter: <a href='http://twitter.com/calenvy'>http://twitter.com/calenvy</a> <br/>

<br/>

Follow me on Twitter here: <a href='http://twitter.com/schliker'>http://twitter.com/schliker</a> <br/>
Linkedin: <a href='http://www.linkedin.com/in/schliker'>http://www.linkedin.com/in/schliker</a> <br/>
Facebook: <a href='http://facebook.com/schliker'>http://facebook.com/schliker</a> <br/>
Skype: <i>coderam</i> <br/>


<p>
	To unsubscribe from this newsletter, please 
	<a href='http://{{site.domain}}/unsubscribe/?slug={{sales_contact.unsubscribe_slug}}&mail_id={{newsfeed_email.id}}'>click here</a>.
</p>
            
{% endblock %}

{% block powered_by %}
{% endblock %}




