{% extends 'emails/main_assist.html' %}{% load i18n %}

{% block content %}

<p style='margin-bottom:10px;'>{{contact.greeting}},</p>

<p style='margin-bottom:10px;'>
    {% trans 'Just wanted to make sure you received this... ' %}
</p>

{% endblock content %}

