{% extends 'emails/main.html' %}{% load i18n %}{% load assist_tags %}{% load account_tags %}

{% block content %}

<p style='margin-bottom:10px;'>
{{alias.greeting}},
</p>

{% if success %}
	<p style='margin-bottom:10px;'>
		{% trans 'I have successfully sent out your form mail to the following contacts:' %}
	</p>
	
	<ul>
		{% for c in contacts_sent %}
			<li>{{c.get_to_for_display}}</li>
		{% endfor %}
	</ul>	
	
{% else %}
	<p style='margin-bottom:10px;'>
		{% trans 'A failure occurred preventing us from sending out your form mail to all the contacts you selected.' %}
	</p>

	{% if contacts_sent %}
		<p style='margin-bottom:10px;'>
			{% trans 'These contacts received the form email:' %}
		</p>
		<ul>
			{% for c in contacts_sent %}
				<li>{{c.get_to_for_display}}</li>
			{% endfor %}
		</ul>			
	{% endif %}
	
	{% if contacts_notsent %}
		<p style='margin-bottom:10px;'>
			{% trans 'These contacts did not receive the form email:' %}
		</p>
		<ul>
			{% for c in contacts_notsent %}
				<li>{{c.get_to_for_display}}</li>
			{% endfor %}
		</ul>			
	{% endif %}	

{% endif %}


<p style='margin-bottom:10px;'>
{% if contacts_sent %}
	{% trans 'Here is the template of the mail that was sent out:' %}
{% else %}
	{% trans 'Here is the template of the mail that we tried to send out:' %}
{% endif %}
</p>

<blockquote class="noted_quote" style="PADDING-LEFT: 1ex; MARGIN: 0px 0px 0px 0.8ex; BORDER-LEFT: #ccc 1px solid; color: #333; font-size: .9em;">
	<p style='margin-bottom:10px;'>
		<b>Subject:</b> {{subject}}
	</p>
	{{template|safe|linebreaks}}
</blockquote>

{% endblock content %}


