{% load i18n %}{% load assist_tags %}

<blockquote id="{{email.message_id}}" class="noted_quote" style="PADDING-LEFT: 1ex; MARGIN: 0px 0px 0px {%if is_reply%}4ex{%else%}0.8ex{%endif%}; BORDER-LEFT: #ccc 1px solid; color: {% if is_latest %}#333{% else %}#ccc{% endif %}; font-size: .9em;">
    {% if email.from %}
        <b>{% trans 'From:' %}</b> {{email.from}}<br/>
    {% endif %}
    {% if email.date %}
        <b>{% trans 'Date:' %}</b> {{email.date}}<br/>
    {% endif %}
    {% if email.subject %}
        <b>{% trans 'Subject:' %}</b> {{email.subject}}<br/>
    {% endif %}
    {% if email.to %}
        <b>{% trans 'To:' %}</b> {{email.to}}<br/>
    {% endif %}
    {% if email.cc %}
        <b>{% trans 'Cc:' %}</b> {{email.cc}}<br/>
    {% endif %}
 	{% if email.filelinks %}
  	<b>{% trans 'Attachments:' %}</b>
		{% for f in email.filelinks %}
			<a href="http://{{site}}/dash/?alias={{alias.slug}}&amp;to=/dash/{{account.base_url}}/retrieve_file%3ftoken={{f.token_slug}}">{{f.file.name}}</a>
		{% endfor %}<br/>
	{% endif %}            
    {% if email.content %}
        <div style='color: #000; font-size: 1.1em;'>
        	{{email.content|safe|linebreaks}}
        </div>
    {% else %}
        <i>(no email body)</i>
    {% endif %}
</blockquote>

