{% load i18n %}
{% load assist_tags %}
{% load account_tags %}
<div class='box_content{% if not compact %}_expanded{% endif %}' style='background:; margin-top: 0px; padding-bottom: 5px;  '>
	<form name='search_form' method='GET' action='/ajax/get_widgets/' onsubmit='search(); return false;'>
	
		<input type='text' id='widget_search' name='search_text' value='{{search|search_display:alias}}' onchange='javascript:search_text_updated(); return false;' style='margin-left: 5px; width: 150px; font-size: .9em;'/>      		
		<input type='hidden' id='widget_ids' name='widget_ids' value='search' />
		<input type='hidden' id='cmd' name='cmd' value='search' />
		<input type='hidden' id='widget_search_query' name='arg1' value='{{search.get_search_query_as_string}}' />
		<input type='hidden' id='widget_search_type' name='arg2' value='{{search.search_type}}' />
		
		<a href='javascript:search();'>
			<img title="{% trans 'Search' %}" src='/static/tango/actions/edit-find.png' border='0' style='position: relative; top: 3px; cursor: pointer;'/>
		</a>
		
		<a href='javascript:clear_search();'>
			<img title="{% trans 'Clear the search' %}" src='/static/tango/actions/go-home.png' border='0' style='position: relative; top: 3px; cursor: pointer; '/>
		</a>
		
	</form>
</div> 

