{% extends 'main.html' %}
{% load i18n %}
{% load account_tags %}
{% block title %}{% render flatpage.title %}{% endblock %}
{% block header %}<h2>{% render flatpage.title %}</h2>{% endblock %}
{% block content_class %}white_bg outer_content{% endblock %}

{% load markup %}
{% load comments %}

{% block style %}
<style>
	.date {
		color: #333;
		font-size: 1em;
		text-align:left;
		padding-bottom: 10px;
	}
	.body p {
		margin-bottom: 10px;
	}
	
	.inline_tag_list {
		color: #CCC;
		margin-bottom: 10px;
	}
	
	.post_list div {
		margin-bottom: 10px;
	}
	
	.post_list .date {
		font-size: 1.2em;
	}
	
	#comments {
		padding-top: 15px;
	}
	.comment {
		margin-top: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #ccc;
		font-size: 1.1em;
		clear: both;
	}
	h5 {
		font-size: 1.1em;
	}
	a.count, a.count:hover, a.count:link {
		float: right;
		color: #333;
	}
	.comment .date {
		font-size: 1em;
		margin-top: 5px;
	}
	form label {
		display: block;
	
	}
	.flatpage_nav {
		background: #eee;
		padding: 10px;
		margin-bottom: 10px;
	}
	.flatpage_nav span {
		margin-right: 20px;
	}
	
	.flatpage_nav a, .flatpage_nav a:link  {
		color: #000;
		padding: 5px;
		
	}
	.flatpage_nav a:hover, .flatpage_nav a.selected {
		color: #D6156C;;
		padding: 5px;
		background: #fff;
		text-decoration: none;
		
		-moz-border-radius-bottomright: 10px; 
		-webkit-border-bottom-right-radius: 10px; 
		-moz-border-radius-bottomleft: 10px; 
		-webkit-border-bottom-left-radius: 10px; 	
		-moz-border-radius-topright: 10px; 
		-webkit-border-top-right-radius: 10px; 
		-moz-border-radius-topleft: 10px; 
		-webkit-border-top-left-radius: 10px;			
	}
	
</style>
{% endblock %}

{% block content %}

	


	<div class='block block_content' style='background: #fff;'>
	
		<div class='cover_heading' style='margin-bottom: 15px; margin-top: -10px;'>
	    
		    <h1 style='text-indent:-9000px; height: 40px; margin-left: 30px; background: transparent url(/static/images/cover/images/sub_title_text.gif) no-repeat scroll; '>
		    	{% trans 'Never miss a task, meeting, or file with email assistance from Noted' %}
		    </h1>
		    
		    <h2 style='text-indent:-9000px; height: 30px; margin-left: 30px; background: transparent url(/static/images/cover/images/press_quotes.gif) no-repeat scroll; '>
		    	<a href='http://twitter.com/mikebutcher/statuses/1332922402'>
		    	"interesting meeting scheduling app" @mikebutcher TechCrunch
		    	</a>
		    	
		    	<a href='http://twitter.com/#/statuses/#'>
		    	{% trans '"crazy, really f**ing cool!" @charlieD Consumer Explorers' %}
		    	</a>
		    </h2>
		    
	    </div>
	
	
		<div class='rounded_upper rounded_lower flatpage_nav' style='font-size: .9em;'>
			
			<span style=''>
				<a href='/info/' class="{% ifequal flatpage.url '/info/' %}selected{% endifequal %}"><img title='{% trans "Learn more home" %}' border='0' src='/static/tango/places/user-home.png' style='position: relative; max-height: 13px; top: 2px;'/></a>
			</span>
			
			<span style=''>
				<a href='/info/knowledge_base/' class="{% ifequal flatpage.url '/info/knowledge_base/' %}selected{% endifequal %}">{% trans 'Knowledge-base' %}</a>
			</span>
			
			<span>
				<a href='/info/meetings/' class="{% ifequal flatpage.url '/info/meetings/' %}selected{% endifequal %}">{% trans 'Meetings' %}</a>
			</span>
			
			<span style=''>
				<a href='/info/project/' class="{% ifequal flatpage.url '/info/project/' %}selected{% endifequal %}">{% trans 'Project management' %}</a>
			</span>
			
			{% comment %}
			<span>
				<a href='/info/syntax/' class="{% ifequal flatpage.url '/info/syntax/' %}selected{% endifequal %}">{% trans 'How-to guide' %}</a>
			</span>
			
			<span>
				<a href='/info/faq/' class="{% ifequal flatpage.url '/info/faq/' %}selected{% endifequal %}">{% trans 'FAQ' %}</a>
			</span>
			{% endcomment %}
			
			<span>
				<a href='/info/features/privacy/' class="{% ifequal flatpage.url '/info/features/privacy/' %}selected{% endifequal %}">{% trans 'Privacy' %}</a>
			</span>
			
		</div>
	
		{% render flatpage.content %}
		
		
		{% comment %}
		
		<div id='comments' style='margin-top: 10px;'>
			  {% get_comment_list for flatpage as comment_list %}
			  
			  <h3>{% trans 'Comments, questions, or feedback' %}</h3>
			  
			  {% if comment_list %}
			  <div id="comments">
			    <a name="comments"></a>
			    {% for comment in comment_list %}
			      {% if comment.is_public %}
			      <div class="comment">
			        <h5 class="name">
			          <a name="c{{ comment.id }}" href="{{ comment.get_absolute_url }}" title="Permalink to {{ comment.person_name }}'s comment" class="count">{{ forloop.counter }}</a> 
			          {% if comment.user_url %}<a href="{{ comment.user_url }}">{{ comment.user_name }}</a>{% else %}{{ comment.user_name }}{% endif %} says...
			        </h5>
			        {{ comment.comment|urlizetrunc:"60"|markdown:"safe" }}
			        <p class="date">{{ comment.submit_date|date:"P" }} on {{ comment.submit_date|date:"F j, Y" }}</p>
			      </div>
			      {% endif %}
			    {% endfor %}
			  </div>
			  {% endif %}
			  {% if flatpage.enable_comments %}
			  	
			    {% render_comment_form for flatpage %}
			  {% else %}
			    <div id="comment_form">
			      {% trans 'Closed' %}
			    </div>
			  {% endif %}
		</div>
		
		{% endcomment %}
		
	</div>
	
{% endblock content %}

