{% extends 'mainv1_dash.html' %}
{% load i18n %}

{% block header %}
	<input type='button' id='back' style='float:right;' onclick='history.back(); return false;' value='{% trans "Back" %}' />
	<h2 style='margin:0px;'>{% trans 'Signup complete!' %}</h2>
{% endblock %}

{% block style %}
<style>
.block {
	background-color: ;
}

.yellow_order_box {
	border: 1px solid #ccc;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	
	width: 183px; 
	height: 227px; 
}

.order_box .title h1 {
	padding-top: 6px;
	color: #000;
}
	
.order_box hr {
	height: 1px; 
	background: #ccc; 
	margin: 10px;
	border: 0px;
}

.order_box .features {
	background: url(/static/images/order/images/signup_button.gif) bottom center no-repeat; 
	height: 140px;
	cursor: pointer;
	text-align: center;
}

.order_box .features strong, h3 strong {
	color: #D6156C;
	font-size: 1.2em;
}

.signup_info h3 {
	margin-top: 20px;
}
.terms a {
	color: #000;
}
.signup_block {
	padding-bottom: 20px;
	margin-top: 5px;
}

h1 {
	font-weight: bold;
}
.signup_block h2 {
	margin: 0px;
}

</style>

{% endblock %}

{% block javascript %}

<script language="javascript">
	$(document).ready(function() {
	
	});
	var Page = this.Page = {
		
	};

</script>
{% endblock %}

{% block content %}
<div style='padding: 5px; height: auto; background: #fff;'>
		
		<div class='signup_section' style=''>
		
			<div class='' style='margin-top:;'>
				{% if payment_required and not success %}
					<div class='signup_block' style='padding-bottom: 15px;'>
						<h1 style='margin-top: 0px;'>{% trans 'Payment failed' %}
						</h1>
						{% trans 'Please contact us at' %} founders@{{site.domain}} {% trans 'and include your payment transaction ID from Paypal as well as receipt information.' %}
					</div>
				{% else %}
					<h3 style='margin-top: 0px;'>
					{% if success %}{% trans 'Thanks! Your account has been created.' %}{% else %}{% trans 'Signup failed' %}{% endif %}
					</h3>
					<div class='signup_block'>
						{% if success %}
							{% trans 'Check your email' %} {% if alias_email %} at <b>{{alias_email}}</b> {% endif %} {% trans 'for important account information.' %}
						{% else %}
							{% trans 'Please contact us at' %} <a href='mailto:founders@{{site.domain}}'>founders@{{site.domain}}</a>.
						{% endif %}
					</div>
				{% endif %}
			</div>
			
			{% if details %}
				<div id='signup_section_agree' style='clear: left; background: #eee; padding: 15px; margin-bottom: 10px;' class='rounded_upper rounded_lower'>
					<h3>{% trans 'Payment overview' %}</h3>
					
					<b>{{details.st}}</b>
					
					<br/>
					<br/>
					
					<strong>{% trans 'Amount' %}:</strong> <i>${{details.amt}} {{details.cc}}</i>
					
				</div>
			{% endif %}
			
			{% if alias %}
			<div class='signup_block'>
				<input style='' type='button' onclick='window.location = "/"; return false;' value='{% trans "Click here to visit your dashboard" %}' />
			</div>
			{% endif %}
			
						
		</div>
	
</div>
{% endblock %}
