{% load i18n %}{% spaceless %}<html lang="en-US">
<head>
<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
<meta name="viewport" content="width=devicewidth; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
<meta name="apple-touch-fullscreen" content="YES" />

<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet" href="/static/adminlte/bower_components/bootstrap/dist/css/bootstrap.min.css">

<!-- Font Awesome -->
<link rel="stylesheet" href="/static/adminlte/bower_components/font-awesome/css/font-awesome.min.css">

<link rel="stylesheet" href="/static/adminlte/dist/css/AdminLTE.min.css">
<!-- AdminLTE Skins. Choose a skin from the css/skins
		 folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet" href="/static/adminlte/dist/css/skins/_all-skins.min.css">

<link rel="stylesheet" href="/static/css/site_dash.css" type="text/css" media="screen">

<!--[if IE]>
	<style type="text/css">
		#loading_bar {
			position: absolute;
			z-index:1000009;
			display:none;
			top:0px;
			left: 20%;
			width: 60%;
			background:#fff;
		}


	</style>
	<![endif]-->

{% block style %}
	<!-- additional stylesheets go here -->
{% endblock style %}

{% block extra_style %}
	<!-- additional stylesheets go here -->
{% endblock %}

<link rel="stylesheet" type="text/css" media="all" href="/static/css/jquery.scrollpane.css" />
<script src="/static/js/lib/jquery-1.4.2.min.js" type="text/javascript"></script>
<script src="/static/js/lib/jquery.scrollpane.js" type="text/javascript"></script>

<link rel="stylesheet" href="/static/js/lib/fancybox/jquery.fancybox-1.2.6.css" type="text/css" media="screen">
<script src="/static/js/lib/fancybox/jquery.fancybox-1.2.6.pack.js" type="text/javascript"></script>

<script src="/dash/main_javascript.js?agent={{agent}}" type="text/javascript"></script>

<script language='javascript'>
	$(window).scroll(function(e) {
		var b = $("#loading_bar");

		var pageY;
		if(typeof(window.pageYOffset)=='number') {
		   pageY = window.pageYOffset;
		   pageY = pageY.toString();
		}
		else {
		   pageY = document.documentElement.scrollTop;
		}

		b.css({top: pageY + "px"});
	});
</script>

{% block javascript %}

{% endblock javascript %}

{% block extra_javascript %}
	<!-- additional javascript goes here -->
{% endblock extra_javascript %}

<title>{% block title %}{{site.name}}{% endblock title %}</title>

</head>
<!-- http://www.colourlovers.com/palette/1137316/boba_milk_tea~~ -->
<body style='{% block style_body %}margin: 0px; background: #2C2926 url("/static/images/dark_bg.gif") repeat-x; {% endblock %}'>
{% include 'csrf_token.html' %}

{% block modals %}

{% endblock modals %}

<div style='width: 100%; height: auto; background:; clear: both;  '>

		{% block outer_header %}
			<div class='rounded_lower' style='clear:both; padding-bottom: 5px; margin-bottom: 5px; background: url("/static/images/highlight_bg.png") repeat-x center bottom; padding: 5px; '>
				{% block header %}

				{% endblock %}
			</div>
		{% endblock %}

		{% if messages %}
    	<div style='margin-bottom: 5px; background: #fff; font-size: .9em;  height: auto; color: #D6156C; background: #FFEFF6; border-bottom: 1px solid #D6156C;'>


                <div class='block' style=''>

                    <strong>{% trans 'Notifications:' %}</strong>

                    <ul>
                    {% if messages.warnings %}
                        {% for warning in messages.warnings %}
                        <li>Warning: {{ warning|safe }}</li>
                        {% endfor %}
                    {% endif %}
                    {% if messages.notices %}
                        {% for notice in messages.notices %}
                        <li>{{ notice|safe }}</li>
                        {% endfor %}
                    {% endif %}
                    </ul>

                </div>



        </div>
        {% endif %}

		{% block content %}

		{% endblock %}

		{% block extra_content %}

		{% endblock %}

		{% block widgets %}

		{% endblock %}

		{% block widgets_right %}

		{% endblock %}

		{% block footer %}

		{% endblock %}

		{% block prompt %}

		{% endblock %}
</div>

<div id="loading_bar" class='loading_bar rounded_lower'>
	<img src='/static/images/ajax-loader-small.gif'/> {% trans 'Please wait...' %}
</div>

{% ifequal settings.SERVER 'live' %}
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-20372920-1']);
	  _gaq.push(['_setDomainName', '.calenvy.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
{% endifequal %}

</body>

</html>{% endspaceless %}
