{% extends 'mainv1_dash.html' %}
{% load account_tags %}

{% load i18n %}

{% comment %} Page for entering/updating credit card / address information {% endcomment %}

{% block header %}
	<input type='button' id='back' style='float:right;' onclick='window.location = "/dash/?agent={{agent}}"; return false;' value='{% trans "Skip" %}' />
	<h2 style='margin:0px;'>{% trans 'Billing information' %}</h2>
	
{% endblock %}

{% block style %}
<link rel="stylesheet" href="/static/css/tablesorter/tablesorter.css" type="text/css" media="screen">

{% block extra_style %}
	<style>
		.global_width {
			width: 330px;
		}
	</style>
{% endblock %}

<style>
.block {
	background-color: ;
}
.yellow_order_box {
	border: 1px solid #ccc;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	position: relative;
	top: 0px;
	width: 183px; 
	height: 227px; 
}

.order_box .title h2 {
	padding-top: 6px;
	color: #000;
}
	
.order_box hr {
	height: 1px; 
	background: #ccc; 
	margin: 10px;
	border: 0px;
}

.order_box .features {
	background: url(/static/images/order/images/signup_button.gif) bottom center no-repeat; 
	height: 140px;
	cursor: pointer;
	text-align: center;
}

.order_box .features strong, h3 strong {
	color: #D6156C;
	font-size: 1.2em;
}

.signup_info h3 {
	margin-top: 20px;
}
.terms a {
	color: #000;
}
.signup_block {
	padding-bottom: 20px;

}

h3 {
	color: #666;
}

h2 {
	font-weight: bold;
}

</style>

{% endblock %}

{% block javascript %} 

<script language="javascript">

window.location = "/dash";
	
	var Page = this.Page = {
		agent: '{{agent|default_if_none:""}}',
		
		paypal_fee: {{paypal_fee}},

		toggle_billing_selector: function() {
			$('#payment_type_cc').click();
			$("input[name='payment_type']").blur().change(function() {
				$(".billing_block_pay").toggle('fast');
				$(this).blur();
			});
		},
		
		submit_form: function() {

			var payment_type = $('#payment_type input:radio:checked').val();

			if (payment_type == 'PAYP') {
				Page.goto_paypal();
				return;
			}
			
			var params = {};
			params.card_number = $('#card_number').val();
			params.expiration_date = $('#exp_year').val() + '-' + $('#exp_month').val();	// YYYY-MM format
			params.card_code = $('#card_cvv2').val();
			params.name = $('#name').val();
			params.address = $('#address').val();
			params.address_2 = $('#address_2').val();
			params.city = $('#city').val();
			params.state = $('#state').val();
			params.zip = $('#zip').val();
			params.country = $('#country').val();
			params.service = $('#service_select').val();
			
            $('#submit').attr('disabled', 'disabled');
			
		    Ajax.send_data('set_billing_info/', params, function(data) {
                if (data.return_data.success) {
                    
                	{% comment %} If we're joining an existing account, we're not logged in automatically --
					just go to the payment complete page where we tell user to check their email {% endcomment %}
					                	
                    if (data.return_data.redirect_url) {
                        window.location = data.return_data.redirect_url;
                    } else {
                        window.location = '/dash/?agent={{agent}}';
                    }
                } else {
                    $('#errmsg').hide('slow').show('fast').text(data.return_data.msg);
                    $('#submit').removeAttr('disabled');
                }
            }, "POST");
		    
		},

		goto_paypal: function() {

			if (Page.paypal_fee == 0 || confirm(
					"{% trans 'Payment via Paypal will add an additional ' %}" + Page.paypal_fee + 
					"{% trans '% to your monthly fee. Continue?' %}")) {
				Ajax.send_data('get_paypal_url/', {service: $('#service_select').val()}, function(data) {
					if (data.return_data.success) {
						if (Page.agent == 'firefox' || Page.agent == 'outlook') {
		                	window.open(data.return_data.redirect_url, '_blank');
						} else {
							// iphone, and others - just go to the redirect URL
		                    window.location = data.return_data.redirect_url;
						}
	                } else {
	                    $('#errmsg').hide('slow').show('fast').text(data.return_data.msg);
	                    $('#submit').removeAttr('disabled');
	                }
	            }, "GET");
			}
			
		},


		get_service_features_html: function(features) {
            var html = "";
            for (var i=0; i < features.length; i++) {
				// do something with features[i] 
				var is_checked = features[i].value;				
				if (is_checked) 
					html += "<input disabled='disabled' type='checkbox' checked='checked'/> " + features[i].name + "<br/>";
				else
					html += "<input disabled='disabled' type='checkbox'/> " + features[i].name + "<br/>";
            }
			return html;
		},
		
		get_service_features: function(field) {
			var service_name = field.val();
			//alert(service_name);
			
			Page.get_service_terms(service_name);
			
			Ajax.send_data('get_service_features/', {
		        service: service_name
		    }, function(data) {
                if (data.return_data.success) {
                    var features = data.return_data.features;
					html = Page.get_service_features_html(features);
					$('#service_features').html(html);

					// Paypal isn't allowed for some services, disable it if necessary
					if (data.return_data.paypal_allowed) {
						// allow paypal
						$('#payment_type_paypal').removeAttr('disabled');
					} else {
						// disallow paypal
						$('#payment_type_cc').attr('checked', 'checked');
						$('.billing_block_pay').show('fast');
						$('#payment_type_paypal').attr('disabled', 'disabled');
					}
					
                } else {
                    alert(data.return_data.msg);
                }
            }, "GET");
			
		},

		get_service_terms: function(service_name) {
			Ajax.send_data('get_service_terms/', {
		        service: service_name
		    }, function(data) {
                if (data.return_data.success) {
                	$('#signup_service_terms').html(data.return_data.terms);
                }
            }, "GET");
		}
		
	};

	$(document).ready(function() {
        $('#submit').removeAttr('disabled');
        Page.toggle_billing_selector();
	});
	
</script>
{% endblock %}

{% block content %}
<div class='block rounded_upper outer_content' style='padding-bottom: 20px; height: auto; background: #fff;'>
	<div class='global_width'>
		<div style='background: #eee; padding: 5px; margin: 10px 0px 10px 0px; width: 90%;' class='rounded_upper rounded_lower'>
		
			<select id='service_select' style='font-size: .9em; max-width: 98%;' onchange='Page.get_service_features($(this));'>
				{% for s, terms_string in services %}
					<option value='{{s.name}}' id='signup_service_{{s.slug}}' {% ifequal s service %}selected='selected'{% endifequal %} name='signup_service_{{s.name}}'>
						{{s.name}} - {{terms_string}}
					</option>
				{% endfor %}			
			</select>
		
			<table id='payment_type' style='font-size: .9em; max-width: 98%;' class='tablesorter'>
				<thead>
					<tr>
						<td>
						
						</td>
						<td>
							{% trans 'Payment method' %}
						</td>
						<td>
							{% trans 'Status' %}
						</td>
					</tr>
				</thead>
				<tr>
					<td>
						<input type='radio' class='payment_radio' id='payment_type_cc' name='payment_type' value='GATE' checked='checked'/>
					</td>
					<td>{% trans 'Credit Card' %}</td>
					<td>
						{% ifequal subscription.type 'GATE' %}
							{% if subscription.active %}
								{% trans 'Subscription <i>activated</i>' %} {{subscription.first_payment.date|date:"m/d/Y"}}<br/>
							{% else %}
								{% trans 'Subscription <i>canceled</i>' %}<br/>
							{% endif %}
							<b>{% trans 'Last payment' %} <a href='/dash/{{alias.account.base_url}}/admin/'>${{subscription.last_payment.amount|price}} {% trans 'on' %} {{subscription.last_payment.date|date:"m/d/Y"}}</a></b><br/>
						{% else %}
							{% trans 'No active subscription' %}
						{% endifequal %}
					</td>
				</tr>
				<tr>
					<td>	
						<input class='payment_radio' type='radio' id='payment_type_paypal' name='payment_type' value='PAYP'
							{% ifequal subscription.type 'PAYP' %}
								{% if subscription.active %}
									disabled='disabled'
								{% endif %}
							{% endifequal %}
						/>
					</td>
					<td>{% trans 'Paypal' %}</td>
					<td>
						{% ifequal subscription.type 'PAYP' %}
							{% if subscription.active %}
								{% trans 'Subscription <i>activated</i>' %} {{subscription.first_payment.date|date:"m/d/Y"}}<br/>
							{% else %}
								{% trans 'Subscription <i>canceled</i>' %}<br/>
							{% endif %}
							<b>{% trans 'Last payment' %} ${{subscription.last_payment.amount|price}} {% trans 'on' %} {{subscription.last_payment.date|date:"m/d/Y"}}</b><br/>
							{% comment %}<a href='#paypal-cancel-instructions-link-paypal.com'>Cancel</a>{% endcomment %}
						{% else %}
							{% trans 'No active subscription' %}
						{% endifequal %}
					</td>
				</tr>
			</table>
		</div>
		
		<div style='display: none; margin: 10px 0px 10px 0px; color: red; background: #FFDEE2; padding: 10px;' id='errmsg'></div>
		
		<form id='billing_form' onsubmit='Page.submit_form(); return false;'>
			
			<div class='billing_section billing_block_pay' style=''>
			
				<div class='billing_block' id='billing_section_card' style='margin-top:;'>
					<h2 style='margin-top: 0px;'>{% trans 'Credit card' %}
					</h2>
					
					<div style='height: 1px;'></div>
					
					<div style='float: left; width: 100px;'>
						&nbsp;
					</div>
					<!-- thanks to http://www.infomerchant.net/creditcardprocessing/credit_card_images.html -->
					<img style='float:left;' src='/static/images/credit_cards/credit_card_logos.gif' />
					<div style='clear: both; height: 3px;'></div>
					
					<div style='float: left; width: 100px;'>
						<strong>
							{% trans 'Card number' %}
						</strong>
					</div>
					<input type='text' id='card_number' autocomplete='off' class='' style='float: left; width: 200px' value=''/>
					<div style='clear: both; height: 3px;'></div>
					
					<div style='float: left; width: 100px;'>
						<strong>
							{% trans 'Expiration date' %}
						</strong>
					</div>
					<div style='float: left;'>
						<select id='exp_month'>
							{% for month in months %}
								<option value='{{month}}'>{{month}}</option>
							{% endfor %}
						</select>
						<select id='exp_year'>
							{% for year in years %}
								<option value='{{year}}'>{{year}}</option>
							{% endfor %}
						</select>
					</div>
					<div style='clear: both; height: 3px;'></div>
							
					<div style='float: left; width: 100px;'>
						<strong>
							{% trans 'Security code' %}
						</strong>
					</div>
					<input type='text' id='card_cvv2' autocomplete='off' style='float: left; width: 50px;' value='' />
					<a style='margin-left:10px;' href='#' onclick='$("#card_cvv2_fancybox").toggle();'>{% trans "What's this?" %}</a><br/>
						
					<div style='float: left; width: 100px;'>
						&nbsp;
					</div>
					<img id='card_cvv2_fancybox' style='display: none;' src='/static/images/credit_cards/cvv_code_vmc.png'></img>				
					
					<div style='clear: both; height: 1px;'></div>			
				</div>
				
				<div class='billing_block' id='billing_section_address' style='margin-top: 15px;'>
					<h2 style='margin-top: 0px;'>{% trans 'Billing address' %}
					</h2>
					
					<div style='height: 5px;'></div>
					
					<div style='float: left; width: 100px;'>
						<strong>
							{% trans 'Name' %}
						</strong>
					</div>
					<input type='text' id='name' autocomplete='off' style='float: left; width: 200px;' value='' />
					<div style='clear: both; height: 3px;'></div>
					
					{% comment %}
					<div style='float: left; width: 100px;'>
						<strong>
							{% trans 'Company' %}
						</strong>
					</div>
					<input type='text' id='name' autocomplete='off' style='float: left; width: 200px;' value='' />
					<div style='clear: both; height: 3px;'></div>
					{% endcomment %}
					
					<div style='float: left; width: 100px;'>
						<strong>
							{% trans 'Address' %}
						</strong>
					</div>
					<input type='text' id='address' autocomplete='off' style='float: left; width: 200px;' value='' />
					<div style='clear: both; height: 3px;'></div>
					
					<div style='float: left; width: 100px;'>
						&nbsp;
					</div>
					<input type='text' id='address_2' autocomplete='off' style='float: left; width: 200px;' value='' />
					<div style='clear: both; height: 3px;'></div>
					
					<div style='float: left; width: 100px; margin-top: 5px;'>
						<strong>
							{% trans 'City' %}
						</strong>
					</div>
					<input type='text' id='city' autocomplete='off' style='float: left; width: 200px;' value='' />
					<div style='clear: both; height: 3px;'></div>
					
					<div style='float: left; width: 100px; margin-top: 5px;'>
						<strong>
							{% trans 'State/Province' %}
						</strong>
					</div>
					<input type='text' id='state' autocomplete='off' style='float: left; width: 200px;' value='' />
					<div style='clear: both; height: 3px;'></div>
					
					<div style='float: left; width: 100px; margin-top: 5px;'>
						<strong>
							{% trans 'ZIP/Postal code' %}
						</strong>
					</div>
					<input type='text' id='zip' autocomplete='off' style='float: left; width: 50px;' value='' />
					<div style='clear: both; height: 3px;'></div>
					
					<div style='float: left; width: 100px; margin-top: 5px;'>
						<strong>
							{% trans 'Country' %}
						</strong>
					</div>
					
					<select id='country' style='float: left; width: 150px;' id="countries" name="countries">
						<option value="United States">United States</option>
						<option value="Canada">Canada</option>
						<option value="United Kingdom">United Kingdom</option>
						<option value="Afghanistan">Afghanistan</option>
						<option value="Aland Islands">Aland Islands</option>
						<option value="Albania">Albania</option>
						<option value="Algeria">Algeria</option>
						<option value="American Samoa">American Samoa</option>
						<option value="Andorra">Andorra</option>
						<option value="Angola">Angola</option>
						<option value="Anguilla">Anguilla</option>
						<option value="Antarctica">Antarctica</option>
						<option value="Antigua and Barbuda">Antigua and Barbuda</option>
						<option value="Argentina">Argentina</option>
						<option value="Armenia">Armenia</option>
						<option value="Aruba">Aruba</option>
						<option value="Australia">Australia</option>
						<option value="Austria">Austria</option>
						<option value="Azerbaijan">Azerbaijan</option>
						<option value="Bahamas">Bahamas</option>
						<option value="Bahrain">Bahrain</option>
						<option value="Bangladesh">Bangladesh</option>
						<option value="Barbados">Barbados</option>
						<option value="Belarus">Belarus</option>
						<option value="Belgium">Belgium</option>
						<option value="Belize">Belize</option>
						<option value="Benin">Benin</option>
						<option value="Bermuda">Bermuda</option>
						<option value="Bhutan">Bhutan</option>
						<option value="Bolivia">Bolivia</option>
						<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
						<option value="Botswana">Botswana</option>
						<option value="Bouvet Island">Bouvet Island</option>
						<option value="Brazil">Brazil</option>
						<option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
						<option value="Brunei Darussalam">Brunei Darussalam</option>
						<option value="Bulgaria">Bulgaria</option>
						<option value="Burkina Faso">Burkina Faso</option>
						<option value="Burundi">Burundi</option>
						<option value="Cambodia">Cambodia</option>
						<option value="Cameroon">Cameroon</option>
						<option value="Cape Verde">Cape Verde</option>
						<option value="Cayman Islands">Cayman Islands</option>
						<option value="Central African Republic">Central African Republic</option>
						<option value="Chad">Chad</option>
						<option value="Chile">Chile</option>
						<option value="China">China</option>
						<option value="Christmas Island">Christmas Island</option>
						<option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
						<option value="Colombia">Colombia</option>
						<option value="Comoros">Comoros</option>
						<option value="Congo">Congo</option>
						<option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option>
						<option value="Cook Islands">Cook Islands</option>
						<option value="Costa Rica">Costa Rica</option>
						<option value="Cote D'ivoire">Cote D'ivoire</option>
						<option value="Croatia">Croatia</option>
						<option value="Cuba">Cuba</option>
						<option value="Cyprus">Cyprus</option>
						<option value="Czech Republic">Czech Republic</option>
						<option value="Denmark">Denmark</option>
						<option value="Djibouti">Djibouti</option>
						<option value="Dominica">Dominica</option>
						<option value="Dominican Republic">Dominican Republic</option>
						<option value="Ecuador">Ecuador</option>
						<option value="Egypt">Egypt</option>
						<option value="El Salvador">El Salvador</option>
						<option value="Equatorial Guinea">Equatorial Guinea</option>
						<option value="Eritrea">Eritrea</option>
						<option value="Estonia">Estonia</option>
						<option value="Ethiopia">Ethiopia</option>
						<option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
						<option value="Faroe Islands">Faroe Islands</option>
						<option value="Fiji">Fiji</option>
						<option value="Finland">Finland</option>
						<option value="France">France</option>
						<option value="French Guiana">French Guiana</option>
						<option value="French Polynesia">French Polynesia</option>
						<option value="French Southern Territories">French Southern Territories</option>
						<option value="Gabon">Gabon</option>
						<option value="Gambia">Gambia</option>
						<option value="Georgia">Georgia</option>
						<option value="Germany">Germany</option>
						<option value="Ghana">Ghana</option>
						<option value="Gibraltar">Gibraltar</option>
						<option value="Greece">Greece</option>
						<option value="Greenland">Greenland</option>
						<option value="Grenada">Grenada</option>
						<option value="Guadeloupe">Guadeloupe</option>
						<option value="Guam">Guam</option>
						<option value="Guatemala">Guatemala</option>
						<option value="Guernsey">Guernsey</option>
						<option value="Guinea">Guinea</option>
						<option value="Guinea-bissau">Guinea-bissau</option>
						<option value="Guyana">Guyana</option>
						<option value="Haiti">Haiti</option>
						<option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option>
						<option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
						<option value="Honduras">Honduras</option>
						<option value="Hong Kong">Hong Kong</option>
						<option value="Hungary">Hungary</option>
						<option value="Iceland">Iceland</option>
						<option value="India">India</option>
						<option value="Indonesia">Indonesia</option>
						<option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
						<option value="Iraq">Iraq</option>
						<option value="Ireland">Ireland</option>
						<option value="Isle of Man">Isle of Man</option>
						<option value="Israel">Israel</option>
						<option value="Italy">Italy</option>
						<option value="Jamaica">Jamaica</option>
						<option value="Japan">Japan</option>
						<option value="Jersey">Jersey</option>
						<option value="Jordan">Jordan</option>
						<option value="Kazakhstan">Kazakhstan</option>
						<option value="Kenya">Kenya</option>
						<option value="Kiribati">Kiribati</option>
						<option value="Korea, Republic of">Korea, Republic of</option>
						<option value="Kuwait">Kuwait</option>
						<option value="Kyrgyzstan">Kyrgyzstan</option>
						<option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
						<option value="Latvia">Latvia</option>
						<option value="Lebanon">Lebanon</option>
						<option value="Lesotho">Lesotho</option>
						<option value="Liberia">Liberia</option>
						<option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
						<option value="Liechtenstein">Liechtenstein</option>
						<option value="Lithuania">Lithuania</option>
						<option value="Luxembourg">Luxembourg</option>
						<option value="Macao">Macao</option>
						<option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option>
						<option value="Madagascar">Madagascar</option>
						<option value="Malawi">Malawi</option>
						<option value="Malaysia">Malaysia</option>
						<option value="Maldives">Maldives</option>
						<option value="Mali">Mali</option>
						<option value="Malta">Malta</option>
						<option value="Marshall Islands">Marshall Islands</option>
						<option value="Martinique">Martinique</option>
						<option value="Mauritania">Mauritania</option>
						<option value="Mauritius">Mauritius</option>
						<option value="Mayotte">Mayotte</option>
						<option value="Mexico">Mexico</option>
						<option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
						<option value="Moldova, Republic of">Moldova, Republic of</option>
						<option value="Monaco">Monaco</option>
						<option value="Mongolia">Mongolia</option>
						<option value="Montenegro">Montenegro</option>
						<option value="Montserrat">Montserrat</option>
						<option value="Morocco">Morocco</option>
						<option value="Mozambique">Mozambique</option>
						<option value="Myanmar">Myanmar</option>
						<option value="Namibia">Namibia</option>
						<option value="Nauru">Nauru</option>
						<option value="Nepal">Nepal</option>
						<option value="Netherlands">Netherlands</option>
						<option value="Netherlands Antilles">Netherlands Antilles</option>
						<option value="New Caledonia">New Caledonia</option>
						<option value="New Zealand">New Zealand</option>
						<option value="Nicaragua">Nicaragua</option>
						<option value="Niger">Niger</option>
						<option value="Nigeria">Nigeria</option>
						<option value="Niue">Niue</option>
						<option value="Norfolk Island">Norfolk Island</option>
						<option value="Northern Mariana Islands">Northern Mariana Islands</option>
						<option value="Norway">Norway</option>
						<option value="Oman">Oman</option>
						<option value="Pakistan">Pakistan</option>
						<option value="Palau">Palau</option>
						<option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
						<option value="Panama">Panama</option>
						<option value="Papua New Guinea">Papua New Guinea</option>
						<option value="Paraguay">Paraguay</option>
						<option value="Peru">Peru</option>
						<option value="Philippines">Philippines</option>
						<option value="Pitcairn">Pitcairn</option>
						<option value="Poland">Poland</option>
						<option value="Portugal">Portugal</option>
						<option value="Puerto Rico">Puerto Rico</option>
						<option value="Qatar">Qatar</option>
						<option value="Reunion">Reunion</option>
						<option value="Romania">Romania</option>
						<option value="Russian Federation">Russian Federation</option>
						<option value="Rwanda">Rwanda</option>
						<option value="Saint Helena">Saint Helena</option>
						<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
						<option value="Saint Lucia">Saint Lucia</option>
						<option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
						<option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option>
						<option value="Samoa">Samoa</option>
						<option value="San Marino">San Marino</option>
						<option value="Sao Tome and Principe">Sao Tome and Principe</option>
						<option value="Saudi Arabia">Saudi Arabia</option>
						<option value="Senegal">Senegal</option>
						<option value="Serbia">Serbia</option>
						<option value="Seychelles">Seychelles</option>
						<option value="Sierra Leone">Sierra Leone</option>
						<option value="Singapore">Singapore</option>
						<option value="Slovakia">Slovakia</option>
						<option value="Slovenia">Slovenia</option>
						<option value="Solomon Islands">Solomon Islands</option>
						<option value="Somalia">Somalia</option>
						<option value="South Africa">South Africa</option>
						<option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option>
						<option value="Spain">Spain</option>
						<option value="Sri Lanka">Sri Lanka</option>
						<option value="Sudan">Sudan</option>
						<option value="Suriname">Suriname</option>
						<option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
						<option value="Swaziland">Swaziland</option>
						<option value="Sweden">Sweden</option>
						<option value="Switzerland">Switzerland</option>
						<option value="Syrian Arab Republic">Syrian Arab Republic</option>
						<option value="Taiwan, Province of China">Taiwan, Province of China</option>
						<option value="Tajikistan">Tajikistan</option>
						<option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
						<option value="Thailand">Thailand</option>
						<option value="Timor-leste">Timor-leste</option>
						<option value="Togo">Togo</option>
						<option value="Tokelau">Tokelau</option>
						<option value="Tonga">Tonga</option>
						<option value="Trinidad and Tobago">Trinidad and Tobago</option>
						<option value="Tunisia">Tunisia</option>
						<option value="Turkey">Turkey</option>
						<option value="Turkmenistan">Turkmenistan</option>
						<option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
						<option value="Tuvalu">Tuvalu</option>
						<option value="Uganda">Uganda</option>
						<option value="Ukraine">Ukraine</option>
						<option value="United Arab Emirates">United Arab Emirates</option>
						<option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
						<option value="Uruguay">Uruguay</option>
						<option value="Uzbekistan">Uzbekistan</option>
						<option value="Vanuatu">Vanuatu</option>
						<option value="Venezuela">Venezuela</option>
						<option value="Viet Nam">Viet Nam</option>
						<option value="Virgin Islands, British">Virgin Islands, British</option>
						<option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
						<option value="Wallis and Futuna">Wallis and Futuna</option>
						<option value="Western Sahara">Western Sahara</option>
						<option value="Yemen">Yemen</option>
						<option value="Zambia">Zambia</option>
						<option value="Zimbabwe">Zimbabwe</option>
					</select>
					
					
				</div>
			
			</div>
			
			<div style='clear: both; height: 1px;'></div>
					
			<h2>{% trans 'Overview' %}</h2>

			<div id='signup_service_terms' class='rounded_upper rounded_lower' style='margin-top: 15px; padding: 5px; background:#FCF8BC; margin-bottom: 10px; font-size: .9em; width: 90%;' align='center'>
				{{terms_string|safe}}
			</div>
						
			<div style='margin-top: 15px;'>	
				<input type='button' id='submit' value='{% trans "Complete payment" %}' onclick='Page.submit_form(); return false;'/>
			</div>
			
			<div style='clear:both;'></div>
			
		</form>
		
	</div>
</div>

<div style='clear:both;'></div>
				
{% endblock %}
