{% extends 'mobile/iphone/main_settings.html' %}
{% load i18n %}

{% block wizard_email_msg %}
	{% if wizard_mode and not alias.server_enabled and not alias.server_valid %}
	<div style="background: url(/static/images/yellow_bg.gif) #FCF8BC; background-repeat:repeat-x; padding: 5px; font-size:.9em; margin-bottom: 10px;" class="rounded_upper rounded_lower notify">
		<b>Final step!</b> &nbsp; <i>In seconds</i> relevant sales emails will be synced to Lead, Contact, and Case records.
	</div>
	{% endif %}
{% endblock %}
