{% extends 'mainv1_dash.html' %}
{% load i18n %}

{% block style %}
<link rel="stylesheet" href="/static/css/tablesorter/tablesorter.css" type="text/css" media="screen">
{% endblock %}

{% block header %}
	
	{% if not next %}
	<div style='float:right;'>
		<input type='button' name='' value='{% trans "Go back... " %}' onclick='Page.done(); return false;' />
	</div>
	{% endif %}
	
	<h2 style='margin:0px;'>{% trans 'Salesforce rules & automation' %}</h2>
	
{% endblock %}

{% block javascript %}
<script language="javascript">
	var Page = this.Page = {
		next: '{{next|default_if_none:""|escapejs}}',	// return to here when done

		done: function() {
			if (Page.next != '') {
				window.location = Page.next;
			} else {
				window.location = '/dash/{{alias.account.base_url}}/?agent={{agent}}';
			}
		},
		
		set_rules_enabled: function(type, val) {
			Ajax.send_data('set_rules_enabled/', {type: type, val: val ? 1 : 0},
					function(data) {
						if (data.return_data.success) {
							// 
						} else {
							alert(data.return_data.msg);
						}
				}, "POST");
		},

		delete_rule: function(id) {
			if (confirm('{% trans "Are you sure you want to delete this rule for your entire team?" %}')) {
				Ajax.send_data('edit_rule/', {id: id, cmd: 'delete'},
					function(data) {
						if (data.return_data.success) {
							$('#rule_'+id).hide();
						} else {
							alert(data.return_data.msg);
						}
				}, "POST");
			}
		}

	};
	

</script>
{% endblock %}

{% block content %}
<div style="height:; ">

    <div style="margin-top: 0px;">
    	
	    <table class='tablesorter' id="rules" border="0" cellpadding="0" cellspacing="1"> 
			<thead> 
			<tr> 
				<th>ID</th> 
				<th>{% trans 'Source' %}</th> 
				<th>{% trans 'Data extraction' %}</th> 
				<th>{% trans 'Action' %}</th> 
				<th>{% trans 'Author' %}</th>
				<th></th> 
			</tr> 
			</thead> 
			<tbody>
				{% for rule in sf_rules %}
				<tr id='rule_{{rule.id}}'> 
					<td>{{rule.id}}</td>
					
					<td>
						{% if rule.enabled_incoming and rule.enabled_outgoing %}
							{% trans 'Incoming & outgoing email' %}
						{% endif %}
						{% if rule.enabled_incoming and not rule.enabled_outgoing %}
							{% trans 'Incoming email' %}
						{% endif %}
						{% if rule.enabled_outgoing and not rule.enabled_incoming %}
							{% trans 'Outgoing email' %}
						{% endif %}
						{% if rule.enabled_contacts %}
							{% trans 'New Salesforce Contact' %}
						{% endif %}
						{% if rule.enabled_leads %}
							{% trans 'New Salesforce Lead' %}
						{% endif %}		
						
						{% ifequal rule.type 'tSFO' %}
						
							{% ifequal rule.match.addr.type 'str' %}					
								{% if rule.enabled_incoming and rule.enabled_outgoing %}
									{% trans 'via' %}
								{% else %}
									{% if rule.enabled_incoming %}{% trans 'from' %}{% else %}{% trans 'to' %}{% endif %}
								{% endif %}
								{% if rule.match.addr.matches %}
									<a href="mailto:{{rule.match.addr.data}}">{{rule.match.addr.data}}</a>
								{% else %}
									{% trans 'Any except' %}<a href="mailto:{{rule.match.addr.data}}">{{rule.match.addr.data}}</a>
								{% endif %}
							{% endifequal %}
							{% ifequal rule.match.addr.type 'domain' %}							
								{% if rule.enabled_incoming and rule.enabled_outgoing %}
									{% trans 'via' %}
								{% else %}
									{% if rule.enabled_incoming %}{% trans 'from' %}{% else %}{% trans 'to' %}{% endif %}
								{% endif %}
								{% if rule.match.addr.matches %}
									{{rule.match.addr.data}}
								{% else %}
									{% trans 'Any except' %}{{rule.match.addr.data}}
								{% endif %}
							{% endifequal %}							
							{% ifequal rule.match.addr.type 'regex' %}
								{% if rule.match.addr.matches %}
									{% trans 'Matches regex:' %} {{rule.match.addr.data}}
								{% else %}
									{% trans 'Does not match regex:' %} {{rule.match.addr.data}}
								{% endif %}
							{% endifequal %}
							{% ifequal rule.match.addr.type 'team' %}								
								{% if rule.enabled_incoming and rule.enabled_outgoing %}
									{% trans 'via' %}
								{% else %}
									{% if rule.enabled_outgoing %}{% trans 'from' %}{% else %}{% trans 'to' %}{% endif %}
								{% endif %}
								{% ifequal rule.match.addr.data None %}
									{% trans 'any team member' %}
								{% endifequal %}
								{% for a in team_aliases %}
									{% ifequal rule.match.addr.data a.id %}
										<a href="mailto:{{a.email}}">{{a.email}}</a>
									{% endifequal %}
								{% endfor %}
							{% endifequal %}
							
						{% endifequal %}
					</td> 
					
					<td>
						{% if rule.regexes.count %}
							{{rule.regexes.count}} {% trans 'fields' %}
						{% else %}
							{% trans 'Auto' %}
						{% endif %}		
					</td>
					
					<td>
						{% for action in rule.actions %}
							{% ifequal action.action 'ignore' %}
								{% trans 'Ignore' %}{% if not forloop.last %}, {% endif %} 
							{% endifequal %}						
							{% ifequal action.action 'sync' %}
								{% trans 'Record to Salesforce activity history' %}{% if action.task_type %}: <b>{{action.task_type}}</b>{% endif %}{% if not forloop.last %}<br/> {% endif %} 
							{% endifequal %}
							{% ifequal action.action 'sync_opp' %}
								{% trans 'Record to Opportunity (beta)' %}{% if not forloop.last %}<br/> {% endif %} 
							{% endifequal %}		
							{% ifequal action.action 'create' %}
								{% trans 'Create Salesforce' %}
								{% ifequal action.type 'contact' %}
									{% trans 'Contact' %}{% if not forloop.last %}<br/> {% endif %}
								{% endifequal %}
								{% ifequal action.type 'lead' %}
									{% trans 'Lead' %}{% if not forloop.last %}<br/> {% endif %}
								{% endifequal %}
								{% ifequal action.type 'case' %}
									{% trans 'Case' %}{% if not forloop.last %}<br/> {% endif %}
								{% endifequal %}
							{% endifequal %}
							{% ifequal action.action 'followup' %}
								{% trans 'Launch' %}
								<a target='_blank' href='http://{{rule.remote_user.host}}/dash/campaign/{{action.campaign}}/template'>
									{% trans 'follow-up campaign' %} {{action.campaign}}
								</a>{% if not forloop.last %}<br/> {% endif %}
							{% endifequal %}
						{% endfor %}
					</td> 
					
					<td><a href='mailto:{{rule.owner_alias.email}}'>{{rule.owner_alias.get_full_name_or_email}}</a></td>
					
					<td>
						<a href='{{rule.id}}?agent={{agent}}&next={{next|default_if_none:""|urlencode}}'>{% trans 'Edit' %}</a>&nbsp;
						<a href='#' onclick='Page.delete_rule({{rule.id}}); return false;'>{% trans 'Delete' %}</a>
					</td> 
				</tr>
				{% endfor %}
						
			</tbody> 
		</table> 
    	
    	{% if next %}
    		<input type="button" value="{% trans 'Save & continue' %}" onclick="Page.done(); return false;"/>
    	{% endif %}
    	<input type="button" value="{% trans 'New rule' %}" onclick="window.location='/dash/{{alias.account.base_url}}/salesforce/new/?agent={{agent}}&next={{next|default_if_none:""|urlencode|escapejs}}';"/>
    	
    	<!-- alert('{% trans "Please login to" %} https://{{site.domain}} {% trans "in a new browser window to manage Salesforce rules." %}');  -->
    </div>
		
    <div style="clear:both; height:1px;"></div>
</div>

{% endblock content %}