{% load i18n %}
{% load assist_tags %}
{% load account_tags %}

<script language='javascript'>

$(document).ready(function() {
	ComingUp.ready();
});

</script>

<div class='box box-primary' style='{% if agent %}{% if not events %}display:none;{% endif %}{% endif %}'>

    <div style="{% ifequal agent 'iphone' %}display:;{% endifequal %}" class="box-header ui-sortable-handle" id="widget_heading_{{widget_id}}">
          <i class="ion ion-clipboard"></i>

          <h3 class="box-title">Events</h3>

          <div class="box-tools pull-right">
            <ul class="pagination pagination-sm inline">
              <li><a onclick='Page.toggle_size({{widget_id}}); return false;' href="#">{% include 'widgets/size_button.html' %}</a></li>

            </ul>
          </div>
      </div>

    <div class='box_content{% if not compact %}_expanded{% endif %}' style='background:; margin-top: 0px; {% if compact %}max-height:220px; overflow: auto; overflow-x:hidden;{% endif %}'>
        {% if not search %}
       	<div style='padding: 5px;' class='row'>
            <div class='col-lg-12'>

                <div class="input-group">
                <input value='{% trans "team party tomorrow @ 3pm" %}' class="form-control" name='quick_event' id='quick_event'
                    onfocus='if ($(this).val() == "{% trans "team party tomorrow @ 3pm" %}") $(this).val("");'>

                <div class="input-group-btn">
                  <button value='add' onclick='ComingUp.submit_quick_event();' type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>
                </div>
              </div>

            </div>
       	</div>
       	{% endif %}

        <ul class='todo-list'>
        {% for event in events %}
            <li class='me_event event_{{event.id}}' id="event_{{event.id}}" style="{%if event.fading%}opacity: .5{%endif%}">
              <!-- drag handle -->
              <span class="handle ui-sortable-handle">
                    <i class="fa fa-ellipsis-v"></i>
                    <i class="fa fa-ellipsis-v"></i>
                  </span>
              <!-- checkbox -->
              {% comment %}
                <input type="checkbox" title="{% trans 'Enable or disable the meeting (if cancelled or completed, etc).' %}" {%if event.fading %}checked='checked'{%endif%} type="checkbox" name="event_disable_{{event.id}}" class="event_disable {% if event.has_perms %}event_owner{% endif %} {% if event.followup_reminder %}event_followup{% endif %}" id="event_disable_{{event.id}}" value="1">
              {% endcomment %}
                <!-- todo text -->
              <span class="text">
              {{event.reminder|urlizetrunc:25|target_blank:agent|truncatewords:13|safe}}
                {% if event.people_non_contact_short %}
                    {% trans 'with' %}
                    {% for c in event.people_non_contact_short %}
                        {% personlink c %}{% if forloop.last %}{% if event.people_non_contact_short_more %}...{% endif %}{% else %}, {% endif %}
                    {% endfor %}
                    <br/>
                {% endif %}
              </span>
              <!-- Emphasis label -->
              <small class="label label-danger"><i class="fa fa-clock-o"></i> {{event.datetime}} {{event.status}}</small>
              {% if event.has_response %}
                <small class="label label-danger"> <img src='/static/vistaico/Symbol-Check-16.png' /></small>
              {% endif %}
              <!-- General tools such as edit or delete-->
              <div class="tools">
                <i class="fa fa-edit"></i>
                <i class="fa fa-trash-o"></i>
              </div>
            </li>
        {% endfor %}
        </ul>
    </div>

    <div style='padding: 5px;' class='compact_heading'>

		<span style='float:right;'>
			{% if agent %}
				<b>{{alias.account_user.get_timezone}}</b>
			{% else %}
				<a class='jTip time_zone' href='#' onclick='$(".wizard_time_zone").show();return false;'>{{alias.account_user.get_timezone}}</a>
			{% endif %}
		</span>


		<a href='{% ifequal agent "iphone" %}webcal{%else%}http{% endifequal %}://{{site.domain}}/dash/{{alias.account.base_url}}/ical/alias/{{alias.slug_ics}}'>{% trans 'iCal feed' %}</a>
			<input {% if not agent %}onfocus='this.select();' onclick='this.select();'{% endif %} type='text' id='ical_feed' value='{% ifequal agent "iphone" %}webcal{%else%}http{% endifequal %}://{{site.domain}}/dash/{{alias.account.base_url}}/ical/alias/{{alias.slug_ics}}' style='width: 50px; font-size:.9em;' readonly='readonly'/>

	</div>
</div>
