{% load i18n %}
{% load assist_tags %}
{% load account_tags %}
<style>

/* contact edit form */
div.me_event {
		padding: 3px 0px 0px 4px;
}


form#box_contact_form {
	margin: 0px;
	padding: 0px;
}

form#box_contact_form input {
	font-size: .9em;
}

/* rows of contacts for selection */

div.box_contact_item {
	background: #eee;
	padding: 2px;
	border-bottom: 1px solid #ccc;
	clear:both;
	font-size: .9em;
}
div.box_contact_item input {
	font-size: .9em;
}

div.box_contact_item select, div.box_contact_details select {
	font-size: .9em;
}

input.contact_checkbox {
	margin: 3px;
	float: right;
}

.contact {
	color: #000;
}

.contact_dis_name {
	font-weight: bold;
}
.contact_dis_back {
	float:right;
}
span.contact_dis_cit_sta {
	font-size: .9em;
	color: #666;
}
span.action_links a {
	position: relative;
	top: 2px;
	margin-left: 2px;
}

/* Action items - little icons like the mail icon / delete / etc */

img.action {
	max-height: 12px;
	max-width: 12px;
	height: 12px;
	width: 12px;
}

/* Social sites section / Facebook / Education / etc */

.social_sites {
	white-space:nowrap;
	overflow: hidden;
	font-size: .9em;
}

.social_sites img.action {
	float: right;
}

.social_sites_unwrap {
	white-space:normal;
	overflow: hidden;
	font-size: .9em;
}

.social_sites_unwrap img.action {
	float: right;
}

/* action icons for new / delete / category */

div#contact_item_new a img {
	margin-right: 3px;
}

</style>


<!--[if IE]>
<style type="text/css">

div.box_contact_container {
   height: expression( this.scrollHeight > 199 ? "200px" : "auto" ); /* sets max-height for IE */
}
div.box_contact, div.box_contact_expanded {
	width: 99%;
	overflow: hidden;
}

/* rows of contacts for selection */

input.contact_checkbox {
}

.box_contact_item_extra {
	float: right; margin-right: 15px;
}
div.me_event {
	padding-bottom: 3px;
}
</style>
<![endif]-->

{% spaceless %}

<script language='javascript'>

	// Determine if we need to grab the social data for this contact
	//  True only if we don't already have the social data
	var auto_get_social_data = {% if auto_get_social_data %} true {% else %} false {% endif %};

	$(document).ready(function () {
		Contacts.ready();
		Contacts.pre_action_contact_bind();

		if (auto_get_social_data) {
			Contacts.get_social_data({{contact_detail.id}});
		}
	});

</script>


<!-- Dummy textarea required by Plaxo (we don't use it) -->
<div style='display: none;'>
	<textarea id='plaxo_callback_text'></textarea>
</div>


<div class='box box-primary'>

      <div style="" class="box-header ui-sortable-handle" id="widget_heading_{{widget_id}}">
          <i class="ion ion-clipboard"></i>

          <h3 class="box-title">People</h3>

          <div class="box-tools pull-right">
            <ul class="pagination pagination-sm inline">
              <li><a onclick='Page.toggle_size({{widget_id}}); return false;' href="#">{% include 'widgets/size_button.html' %}</a></li>

            </ul>
          </div>
      </div>


    <div class='box_content{% if not compact %}_expanded{% endif %}' style='background:; margin-top: 0px;'>

 		<div align='right' style='background: #e1e1e1; border:1px solid #ccc;'>
			<div style='border-bottom: 1px solid #fff; padding: 3px;'>
				{% if buckets %}
					<select class='buckets_select' style='font-size: .8em; height: 17px; float: left; margin-right: 2px; max-width: 95px;' id='contacts_filter_tag' onchange='Contacts.change_bucket($(this));'>
						{% for b in buckets %}
							<option value="{{b.slug}}" {% ifequal b.slug bucket.slug %}selected="selected"{% endifequal %}>{{b.text}}</option>
							{% ifequal b.slug '' %}
								<option value="new">{% trans '[ + new tag ]' %}</option>
							{% endifequal %}
						{% endfor %}
					</select>
				{% endif %}

				{% ifnotequal agent 'firefox' %}
				<form style='display:inline;' method='POST' onsubmit='Contacts.search(); return false; '>
					<input type='text' id='widget_contacts_search_text' value='{{search|search_display:alias}}' style='width: 80px; height: 18px; font-size: .85em; position: relative; top: -4px;'/>
					<input name='search_button' title='{% trans "Click to search" %}' style='top: 2px; position: relative;' type='image'
						id='widget_contacts_search_submit' alt="{% trans 'Search' %}"
						src='/static/tango/actions/edit-find.png' border='0'/>
				</form>
				{% endifnotequal %}

				<div style='clear:both;'></div>
			</div>

		</div>


 		{% if expanded %}

 			<!--  Hidden fields used by the Javascript -->
 			<input type='hidden' id='contact_detail_id' value='{{contact_detail.id}}' />
 			<input type='hidden' id='contact_detail_slug' value='{{contact_detail.slug}}' />
 			<input type='hidden' id='contact_detail_email' value='{{contact_detail.email}}' />
 			<input type='hidden' id='contact_detail_first_name' value='{{contact_detail.first_name}}' />
 			<input type='hidden' id='contact_detail_last_name' value='{{contact_detail.last_name}}' />
 			<input type='hidden' id='contact_detail_name' value='{{contact_detail.name}}' />
 			<input type='hidden' id='contact_detail_display_name' value='{{contact_detail.display_name}}' />
 			<input type='hidden' id='prev_contact_detail_id' value='{{prev_contact_detail.id}}' />
 			<input type='hidden' id='prev_contact_detail_display_name' value='{{prev_contact_detail.display_name}}' />

  			<div class='box_contact_details' style='border: 1px solid #ccc;'>
  				{% ifequal contact_detail.id alias.pk %}
	  				<div class='notify status_msg'>
			       		{% trans 'This is you.' %}
			       	</div>
			    {% else %}
				    {% if contact_detail.is_team %}
	  				<div class='notify status_msg'>
			       		{% trans 'This user is on your team.' %}
			       	</div>
			       	{% endif %}
  				{% endifequal %}

  				{% if not contact_detail.subscribed %}
	  				<div style='padding:2px 2px 2px 5px; background: #ffb6c1; font-size: .9em'>
	  					{% trans 'Unsubscribed contact' %}
	  				</div>
  				{% endif %}

	       		<div class='contact_dis_container me_event' style='padding: 3px; white-space:nowrap; overflow: hidden;'>

	       			<div id='contact_social_image' style='position: relative;'>

	       				{% comment %}
	       				The actual contact image -
	       				be sure to add or remove the class "has_image" dynamically when you fill/remove the profile picture
	       				{% endcomment %}
		       			<img id='contact_image' width='80' height='80' class='{% if contact_detail.image_url %}has_image{% endif %}' style='float: left; margin-right: 5px; border: 2px solid #00A65A; border-radius: 50%;' src='{{contact_detail.image_url|default:"/static/images/no_person.png"}}'/>

	       				<a id='contact_image_delete' href='#'
		       				style='position: absolute; top: 0px; left: 0px; background: #fff; font-size: .9em; {% if not contact_detail.edit or not contact_detail.image_url %}display: none;{% endif %}'
		       				onclick='Contacts.remove_social_data({{contact_detail.id}}, "image", null, Contacts.remove_social_image_callback); return false;'>
		       				<img id='contact_image_delete_img' style='padding: 2px; border-right: 1px solid #999; border-bottom: 1px solid #888;' title='{% trans "Delete profile photo" %}' border='0' class='action' src='/static/tango/actions/process-stop.png'/>
		       			</a>

	       			</div>

	       			<div style=''>

			       		<span title='{{contact_detail.display_name_ez_name}}' class='contact_dis_name'>{{contact_detail.display_name_ez_name}}</span>

		       			<div id='contact_social_location' class='social_sites me_event' style='border-top: 0px; padding: 0px; border-bottom: 0px;'>
		       				<a href='#' onclick='Contacts.remove_social_data({{contact_detail.id}}, "location", "#contact_social_location"); return false;'><img style='{% if not contact_detail.location %}display: none;{% endif %} margin-left: 5px;' title="{% trans 'Delete location info' %}" class='action contact_social_location' src='/static/tango/actions/process-stop.png' border='0'/></a>
		       				<div style='width: 80%; overflow: hidden;'>
		       					<span id='contact_location'>{{contact_detail.location}} </span>

		       				</div>
		       			</div>

		       			<div id='contact_social_gender' class='social_sites me_event' style='border-top: 0px; padding: 0px; border-bottom: 0px;'>
		       				<a href='#' onclick='Contacts.remove_social_data({{contact_detail.id}}, "gender", "#contact_social_gender"); return false;'><img style='{% if not contact_detail.gender %}display: none;{% endif %} margin-left: 5px;' title="{% trans 'Delete gender info' %}" class='action contact_social_gender' src='/static/tango/actions/process-stop.png' border='0'/></a>
		       				<div style='width: 80%; overflow: hidden;'>
		       					<span id='contact_gender'>{{contact_detail.gender}}</span>

		       				</div>
		       			</div>

		       			<div id='contact_social_age' class='social_sites me_event' style='border-top: 0px; padding: 0px; border-bottom: 0px;'>
		       				<a href='#' onclick='Contacts.remove_social_data({{contact_detail.id}}, "age", "#contact_social_age"); return false;'><img style='{% if not contact_detail.age %}display: none;{% endif %} margin-left: 5px;' title="{% trans 'Delete age info' %}" class='action contact_social_age' src='/static/tango/actions/process-stop.png' border='0'/></a>
		       				<div style='width: 80%; overflow: hidden;'>
		       					<span id='contact_age'>{{contact_detail.age}}</span>

		       				</div>
		       			</div>

	       				<div style='clear:both;'></div>

	       			</div>

	       			<div style='clear:both;'></div>

	       		</div>

				{% comment %}
				Extra social data about the contact
				Render it now when the Contacts widget loads, if we already have the data
				Else, fill it in later with Javascript
				{% endcomment %}

				{% with contact_detail.memberships as memberships %}
				{% with contact_detail.experience as experience %}
				{% with contact_detail.education as education %}
					<div id='contact_social'>
						{% comment %}
						Display extra social data about the contact here -- or if none, fill it in later via Javascript
						{% endcomment %}
						{% include 'widgets/contacts_social.html' %}
					</div>
				{% endwith %}
				{% endwith %}
				{% endwith %}

	       		<div style='clear:both;'></div>

	       		<div>
		       		<form method='POST' name='box_contact_form' id='box_contact_form' onsubmit='return false;'>

		       			{% if contact_detail.edit %}

			       			<div style='clear:both;'></div>

			       			<div style='padding:0px;' class=''>

				       				<div style='float:left; width: 49%;'>
				       					<div class='me_event'>
				       						{% trans 'Name' %}:<br/>
											<input tabindex='100' style='width: 98%;' value='{{contact_detail.display_name_only|default_if_none:""}}' type='text' id='box_contact_name' name='box_contact_name'/>
				       					</div>
				       				</div>

				       				<div style='float:left; width: 49%;'>
				       					<div class='me_event'>
				       						{% trans 'Email' %}:<br/>
				       						<input tabindex='101' style='width: 98%;' {% if contact_detail.is_team %}disabled='disabled'{% endif %} value='{{contact_detail.email|default_if_none:""}}' type='text' id='box_contact_email' name='box_contact_email'/>
				       					</div>
				       				</div>

				       				<div style='clear:both;'></div>

			       			</div>

			       			<div style='padding:0px;'>

				       				<div style='float:left; width: 49%;'>
				       					<div  class='me_event'>
				       						{% trans 'Title' %}:<br/>
				       						<input tabindex='102' style='width: 98%;' value='{{contact_detail.title|default_if_none:""}}' type='text' id='box_contact_title' name='box_contact_title'/>
				       					</div>
				       				</div>

				       				<div style='float:left; width: 49%;'>
				       					<div class='me_event'>
				       						{% trans 'Company' %}:<br/>
				       						<input tabindex='103' style='width: 98%;' value='{{contact_detail.company|default_if_none:""}}' type='text' id='box_contact_company' name='box_contact_company'/>
				       					</div>
				       				</div>

				       				<div style='clear:both;'></div>

			       			</div>

			       			<div style='float:left; width: 49%;'>
				       			<div class='me_event'>
				       				{% trans 'Twitter' %}:<br/>
				       				<input tabindex='104' style='width: 98%;' value='{{contact_detail.twitter_screen_name|default_if_none:""}}' type='text' id='box_contact_twitter_screen_name' name='box_contact_twitter_screen_name'/>
				       			</div>
			       			</div>
			       			<div style='float:left; width: 49%;'>
				       			<div class='me_event'>
				       				{% trans 'Website' %}:<br/>
				       				<input tabindex='105' style='width: 98%;' value='{{contact_detail.website|default_if_none:""}}' type='text' id='box_contact_website' name='box_contact_website'/>
				       			</div>
			       			</div>


			       			<div style='clear:both;'></div>

			       			<div style='float:left; width: 49%;'>
				       			<div class='me_event'>
				       				{% trans 'Phone' %}:<br/>
				       				<input tabindex='106' style='width: 98%;' value='{{contact_detail.phone|default_if_none:""}}' type='text' id='box_contact_phone' name='box_contact_phone'/>
				       			</div>
			       			</div>

			       			<div style='float:left; width: 49%;'>
				       			<div class='me_event'>
				       				{% trans 'Description' %}:<br/>
				       				<input tabindex='107' style='width: 98%;' value='{{contact_detail.description|default_if_none:""}}' type='text' id='box_contact_description' name='box_contact_description'/>
				       			</div>
			       			</div>

			       			<div style='clear:both;'></div>

			       			{% if bucket %}
			       			<div class='me_event'>
				       			{% trans 'Tag' %}:	<b>{{bucket.name}}</b>
			       			</div>
			       			{% endif %}
			       			<div class='me_event'>
			       				<input style='font-size: .9em;' tabindex='107' type='submit' name='box_contact_submit' onclick='Contacts.update({{contact_detail.id}}, 0);return false;' value="{% trans 'Save' %}"/>
			       				<input style='font-size: .9em;' tabindex='108' type='button' name='box_contact_submit' onclick='Contacts.update({{contact_detail.id}}, 1);return false;' value="{% trans 'Save & New' %}"/>
			       				<input style='font-size: .9em;' type='button' tabindex='109' onclick='Contacts.cancel_edit({{contact_detail.id}}); return false;' value="{% trans 'Back' %}"/>
			       			</div>
			       		{% else %}

		       				<div style='clear:both;'></div>

		       				{% if contact_detail.company %}
				       			<div class='me_event social_sites'>
					       			<span style='float:right;'>
					       					<a href='#' onclick="$('#linkedin_widget').toggle(); $('#linkedin_iframe').attr('src','https://www.linkedin.com/companyInsider?data&companyName={{contact_detail.company}}'); return false;"><img src='/static/images/partners/linkedin_inline.gif' border='0'/></a>
				       				</span>
				       				<div style='width: 90%; overflow: hidden;'>
				       					<span id='box_contact_title'>{{contact_detail.title|default_if_none:""}}</span>{% if contact_detail.title %},{% endif %} <span id='box_contact_company' style='font-weight: bold;'>{{contact_detail.company}}</span> {% if contact_detail.website %}({{contact_detail.website|urlize|target_blank:agent|safe}})	{% endif %}
				       				</div>
				       			</div>

				       			<div id='linkedin_widget' class='' style='display:none; height: 102px; max-height: 102px; overflow:hidden; border:1px solid #ccc;'>
			       					<iframe id='linkedin_iframe' frameborder='0' width='100%' src="javascript:''" style='width: 100%; height: 100px; max-height: 100px; overflow-y: auto; overflow: auto; '></iframe>
			       				</div>
					       	{% else %}
					       		{% if contact_detail.title %}
					       			<div class='me_event social_sites'>
					       				<span id='box_contact_title'>{{contact_detail.title|default_if_none:""}}</span>
				       				</div>
					       		{% endif %}
			       			{% endif %}

			       			{% if contact_detail.email %}
				       			<div class='me_event'>
				       				<div style='white-space:nowrap; overflow: hidden;'>
							       		<img src='/static/tango/apps/internet-mail.png' class='action' style='float: left; margin-right: 3px;'/>

					       				<span style='overflow: hidden; width: 90%;' id='box_contact_email'><a href='mailto:{{contact_detail.email}}'><b style='width: 99%;' title='{{contact_detail.email}}'>{{contact_detail.email}}</b></a></span>
				       					<div style='clear:left;'></div>
				       				</div>

				       				{% if contact_detail.secondary_emails %}

						       				{% for email in contact_detail.secondary_emails %}
						       					<div style='white-space:nowrap; overflow: hidden;'>
						       						<img src='/static/tango/apps/internet-mail.png' class='action' style='float: left; margin-right: 3px;'/>

						       						<span style='overflow: hidden; width: 90%;' title='{{email}}'>{{email}}</span>
						       						<div style='clear:left;'></div>
						       					</div>
						       				{% endfor %}

					       			{% endif %}
					       			<div style='clear:left; height: 5px;'></div>
						       		<input id='add_secondary_email' onclick='$(this).val("");return false;' value='{% trans "Add a secondary email..." %}' type='text' style='width: 95%; text-align:center; font-size:.9em; color: #333;'/>
				       			</div>
			       			{% endif %}

			       			<div style='display: none;' id='crunchbase_widget' class='me_event'>

				       		</div>

			       			{% if contact_detail.twitter_screen_name %}
				       			<div class='me_event social_sites'>

				       				<a target='_blank' href='http://twitter.com/{{contact_detail.twitter_screen_name}}'>
				       					<img style='margin-left: 5px;' title="{% trans 'Visit twitter.com/' %}{{contact_detail.twitter_screen_name}}" class='action contact_location' src='/static/images/social_logos/twitter.ico' border='0'/>
				       					<span id='box_contact_twitter_screen_name'>{{contact_detail.twitter_screen_name}}</span>
				       				</a>

				       			</div>
			       			{% endif %}
			       			{% if contact_detail.phone %}
				       			<div class='me_event'>
				       				{% trans 'Phone' %}:
				       				<span id='box_contact_phone'>{{contact_detail.phone}}</span>
				       			</div>
			       			{% endif %}

			       			{% if contact_detail.description %}
				       			<div class='me_event'>
				       				<span id='box_contact_description'>{{contact_detail.description|urlize|target_blank:agent|safe}}</span>
				       			</div>
			       			{% endif %}
			       			<div class='me_event'>
			       				{% trans 'Last email' %}:
			       				{% if not contact_detail.last_contacted_date %}
			       					{% trans 'never' %}
			       				{% else %}
			       					{{contact_detail.last_contacted_date|timesince}} {% trans 'ago' %}
			       					{% if contact_detail.last_contacted_alias %}
			       						{% trans 'by' %} {{contact_detail.last_contacted_alias|tagname:alias}}
			       					{% endif %}
			       				{% endif %}
			       			</div>

			       			<div>

			       				<div class='me_event'>

				       				{% trans 'Tags' %}:
				       				<img style='cursor: pointer;' onclick='Contacts.set_cloned_bucket_list_mode("add_contact"); return false;' border='0' src='/static/tango/actions/list-add.png' style='cursor: pointer;' />
				       				{% if contact_detail.buckets %}
		        						<img style='cursor: pointer;' onclick='Contacts.set_cloned_bucket_list_mode("remove_contact"); return false;' border='0' src='/static/tango/actions/list-remove.png' style='cursor: pointer;' />
		        					{% endif %}

				       				<div style='display:none; font-size: .9em;' id='box_contact_details_select_cat'>
						       				{% if buckets %}
				        						<select class='buckets_select' name='box_contact_details_add_cat' id='box_contact_details_add_cat' style='width: 100px;' onchange='Contacts.select_cloned_bucket(this.options[this.selectedIndex].value, "{{contact_detail.id}}");' >
										            {% for b in buckets %}
									                	<option value="{{b.slug}}">{{b.text}}</option>
										            {% endfor %}
										        </select>
										        <input type='button' value='{% trans "New" %}' onclick='Contacts.bucket_add(); return false;' />
										    {% endif %}

					       			</div>
					       			<div class='social_sites'>
					       				{% if contact_detail.buckets %}
					       					{% for b in contact_detail.buckets %}
					       						<a href='#' onclick='Page.change_bucket("{{b.slug}}", "{{b.name}}"); return false;'>{{b.name}}</a>{% if not forloop.last %}, {% endif %}
					       					{% endfor %}
					       				{% endif %}
									</div>

								</div>
								{% comment %}
								{% if alias.account.service.allow_sf %}
									<div id='salesforce_contact_msg' class='status_msg'>
										<img class='icon' title='{% trans "Contacts tagged Salesforce are synced to Salesforce Contacts." %}' src='/static/images/salesforce.png'/>
										{% trans 'Tag "<b>salesforce</b>" to sync a contact to Salesforce.' %}
									</div>
								{% endif %}
								{% endcomment %}
			       			</div>

	       					<div class='me_event'>

	       						{% if contact_detail.reminder_date %}
	       							{% trans "Follow up:" %}
	       							<span id='reminder_date' style='background: #fff; display:inline; border: 1px solid #ccc; padding: 0px 5px 0px 0px; margin-right: 5px;' class='event_special rounded_upper rounded_lower'>
	          							<img src='/static/tango/actions/appointment-new.png'/>
	          							<strong id='preview_span_text'>{{contact_detail.reminder_date}}</strong>
	          						</span>
	          						<img title='{% trans "Remove follow-up reminder." %}' id='reminder_cancel' src='/static/tango/actions/process-stop.png' style='cursor: pointer;' onclick='Contacts.cancel_reminder({{contact_detail.id}}); return false;' />

	       						{% else %}
	       							<input id='remind_button' type='button' style='font-size: .9em;' value='{% trans "Follow up" %}' onclick='Contacts.set_reminder({{contact_detail.id}}, $("#remind_text").val()); return false;' />
	       							<input id='remind_text' type='text' style='margin-left: 5px; width: 80px; font-size: 0.9em;' class='example_text' value='{% trans "next Friday" %}' onclick='if ($(this).hasClass("example_text")) { $(this).removeClass("example_text").val(""); } return false;' onkeypress='if (event.keyCode==13) { Contacts.set_reminder({{contact_detail.id}}, $(this).val()); return false; } return true;' />
	       						{% endif %}
	       					</div>

		       				<div class='me_event'>
		       					{% ifnotequal agent 'firefox' %}
							 	    {% if alias.account.allow_formmail %}
							 	    	{% if contact_detail.subscribed %}
			       							<input style='font-size: .9em;' type='button' name='box_contact_compose_button' value='{% trans "Compose" %}' onclick='Contacts.action("compose", {{contact_detail.id}}); return false; '/>
			       						{% endif %}
			       					{% endif %}
		       					{% endifnotequal %}

		       					<input style='font-size: .9em;' type='button' name='box_contact_edit_button' value='{% trans "Edit" %}' onclick='Contacts.expand({{contact_detail.id}}, "edit");'/>

								{% if not contact_detail.is_team %}
				       				<input style='font-size: .9em;' onclick='Contacts.delete_one_contact({{contact_detail.id}});' type='button' id='box_contact_delete' name='box_contact_delete' value='{% trans "Delete" %}'/>
			       				{% endif %}

		       					<input style='font-size: .9em;' type='button' name='box_contact_return' onclick='Contacts.collapse(); return false;' value="{% trans 'Back' %}"/>

		       				</div>


			       		{% endif %}

		       		</form>
	       		</div>
	        </div>

 		{% else %}

	 		<div class='box_contact_results' style='border-left: 1px solid #ccc; border-right: 1px solid #ccc;'>

	 			 <div class='box_contact_item' id='contact_item_new' align='right' style='overflow: hidden; white-space:nowrap; padding: 2px; text-align:right; background: #fff;'>


   						<span style='float: left;' class='action_links'>

	   						<input type='button' name='add_import' value='{% trans "New" %}' title='{% trans "Create new contact(s)" %}' onclick='Contacts.expand(0, "new"); return false;'/>
							{% if not agent %}
								<a href='#' onclick='$(".wizard_contacts_import").show(); return false;'><img border='0' src='/static/tango/devices/drive-optical.png' title='{% trans "Import new contact(s) from Plaxo or .csv file" %}'/></a>
								<a href='#' onclick='$(".wizard_contacts_widget").show();return false;'><img title="{% trans 'Use HTML on your website to automatically create contacts and launch follow-up emails.' %}" border='0' src='/static/tango/mimetypes/text-html.png'/></a>
							{% endif %}



						</span>

   						{% if contacts %}

   							<input type='checkbox' id='contact_checkbox_all' title='{% trans "Select all" %}' onclick='Contacts.toggle_all_checkboxes(); return true;' style='float:right; margin-right: 3px;' />

   							<span style='display:none;' id='action_contact_bind'>

   								<a title='{% trans "Delete the selected contact(s)" %}' href='#' onclick='Contacts.action("delete"); return false;'><img style='float:right;' src='/static/tango/actions/process-stop.png' border='0'/></a>

								<a title='{% trans "Tag the selected contact(s)" %}' href='#' onclick="$('#box_contact_action_categorize_container').toggle(); return false;"><img style='float:right;' src='/static/tango/actions/folder-new.png' border='0'/></a>

								{% ifnotequal agent 'firefox' %}
									{% if alias.account.allow_formmail %}
										<a href='#' onclick="Contacts.action('compose'); return false;"><img style='float:right;' border='0' src='/static/tango/apps/internet-mail.png' title='{% trans "Compose" %}'/></a>
									{% endif %}
								{% endifnotequal %}

   							</span>
						{% endif %}

					<div style='clear:both;'></div>
					<div align='left' id='box_contact_action_categorize_container' style='display:none; text-align:right;'>
						{% if buckets %}
       						<select name='box_contact_action_categorize' id='box_contact_action_categorize' style='width: 100px;' onchange='Contacts.action("categorize");' >
					            {% for b in buckets %}
					                <option value="{{b.slug}}">{{b.text}}</option>
					            {% endfor %}
					        </select>

							<input type='button' value="{% trans 'New tag' %}" onclick='Contacts.bucket_add_and_categorize(); return false;'/>
						{% endif %}
					</div>
					<div style='clear:both;'></div>
		 	    </div>

	 			<div class='box_contact_container osX' style='overflow:auto; {% if compact %}{% ifequal agent "iphone" %}height: 200px;{% else %}max-height: 200px;{% endifequal %}{% else %}{% endif %}'>

		 			{% for c in contacts %}

				 	    <div class='box_contact_item {% if c.is_team %}bg-green{% endif %}' id='contact_item_{{c.id}}' style='overflow: hidden;'>

				 	    	{% if not c.is_team %}
								<input type='checkbox' class='contact_checkbox' id='contact_checkbox_{{c.id}}' onclick="return true;"/>
							{% endif %}

				 	    	<img style='float:left; margin-right: 5px; border: 2px solid #00A65A; border-radius: 50%;' width='30' height='30' src='{{c.image_url|default:"/static/images/no_person.png"}}'/>

				 	    	<div>
					 	    	<div style='padding-right: 14px; white-space:nowrap; overflow: hidden;'>
						 	    	<a href='#' onclick='Contacts.expand({{c.id}}, "readonly", "", "{{c.display_name}}", "{{c.owner_name}}"); return false;'>
						 	    		<span style='width: 100%;' class='contact' title="{{c.mouseover_text}}">{{c.display_name_ez_name}}</span>
						 	    	</a>

					 	    	</div>
					 	    	<div style='color: #333; overflow: hidden;' class='social_sites'>
					 	    		{% if c.title %}{{c.title}}{% if c.company %}, {% endif %}{% endif %}{% if c.company %}{{c.company}}{% endif %}&nbsp;
					 	    		{% if contact.buckets %}
				       					{% for b in contact.buckets %}
				       						<a href='#' onclick='Page.change_bucket("{{b.slug}}", "{{b.name}}"); return false;'>{{b.name}}</a>{% if not forloop.last %}, {% endif %}
				       					{% endfor %}
				       				{% endif %}
					 	    	</div>

				 	    	</div>

				 	    	<div style='clear:both;'></div>

				 	    </div>
				 	{% endfor %}

			 	</div>
			 	<div class='compact_heading' style='padding: 5px; text-align: right;'>
				 	{% if contacts %}
						<span class="step-links" style='cursor:pointer; font-size: .9em;'>
							{% if page_struct.has_previous %}
					        	<span style='cursor:pointer;' onclick='Page.change_page({{widget_id}}, {{ page_struct.previous_page_number }}); return false;'>&lt;&lt; {% trans 'Prev' %}</span>
							{% endif %}

							{% if page_struct.has_next %}
					        	<span style='cursor:pointer;' onclick='Page.change_page({{widget_id}}, {{ page_struct.next_page_number }}); return false;'>{% trans 'Next' %} &gt;&gt; </span>
					    	{% endif %}

					    	{% ifequal page "all" %}
					    		<span style='cursor:pointer;' onclick='Page.change_page({{widget_id}}, 1); return false;'>{% trans 'Back' %}</span>
					    	{% else %}
					    		<span style='cursor:pointer;' onclick='Page.change_page({{widget_id}}, "all"); return false;'>{% trans 'All' %}</span>
					    	{% endifequal %}
					    </span>
				    {% endif %}
			   	</div>



	 	    </div>

 	   	{% endif %}
    </div>
</div>

{% ifequal agent 'outlook' %}
	<img src='/static/images/spacer.gif' width='1' height='1'/>
{% endifequal %}

{% endspaceless %}
