{% load i18n %}
{% load assist_tags %}
{% load account_tags %}

<style>

	.conv_selected {
		background-color: #666;
		opacity: 1;
		border-top: 1px solid #ccc;
		border-left: 1px solid #ccc;
		border-right: 1px solid #555;
		border-bottom: 1px solid #555;
		max-height: 14px;
	}
	
	.deals_slider { 
		margin: 10px 0px 5px 0px;
		width: 150px;
	}
	
	#deals_widget {
		max-height: 300px;
	}
	
	

</style>

<!--[if IE]>
<style type="text/css"> 

	#deals_widget { 
	   height: expression( this.scrollHeight > 299 ? "300px" : "auto" ); /* sets max-height for IE */
	}

</style>
<![endif]-->

<script language='javascript'>
	
	var Deals = this.Deals = {	
		
		expanded: ('{{expanded}}' == 'True'),
			
		ajax_save_val: false,

		SEARCH_TYPE_COMPANY: '{{SEARCH_TYPE_COMPANY}}',
		
		save_slider: function(id, val) {
			if (val == 0 && confirm('{% trans "Would you like to delete this deal?" %}')) {
				Ajax.send_data('deal_action/', {cmd: 'delete', id: id, widget_id: {{widget_id}} },
					function(data) {
						if (data.return_data.success) {
							$('#deals_list_'+id).remove();	// remove, not hide
						} else {
							alert(data.return_data.msg);
						}
					}, "POST");
			} else {
				Ajax.send_data('deal_action/', {cmd: 'set_hotness', id: id, widget_id: {{widget_id}}, hotness: val},
					function(data) {
						if (data.return_data.success) {
							// do nothing
						} else {
							alert(data.return_data.msg);
						}
					}, "POST");
			}
		},

		expand: function(id) {
			Ajax.send_data('deal_action/', {cmd: 'expand', id: id, widget_id: {{widget_id}} },
				function(data) {
					if (data.return_data.success) {
						Deals.expanded = true;
						$('.deals_list').hide();
						var deal = $('#deals_list_'+id);
						deal.addClass('selected').show();
						var details = deal.find('.deal_details');
						details.show();
						Page.update_widgets();
					} else {
						alert(data.return_data.msg);
					}
				}, "POST");
		},
		
		collapse: function(id) {
			Ajax.send_data('deal_action/', {cmd: 'collapse', id: id, widget_id: {{widget_id}} },
					function(data) {
						if (data.return_data.success) {
							Deals.expanded = false;
							$('.deal_details').hide();
							$('.deals_list').removeClass('selected').show();
							Page.update_widgets();
						} else {
							alert(data.return_data.msg);
						}
					}, "POST");
		},
		
		toggle: function(id) {
			if (Deals.expanded)
				Deals.collapse(id);
			else
				Deals.expand(id);
		}
		
	};
	
	$(document).ready(function(){
				
		$('.deals_list').click(function(e) {
			var cur_id = $(this).attr('id');
			cur_id = cur_id.replace('deals_list_','');
			Deals.toggle(cur_id);
			return false;
		});
					
		$(".deals_slider").each(function() {

			$(this).slider(
				{ 
			        handle: '.deals_slider', 
			        min: 0, 
			        max: 100, 
			        change: function(event, ui) {
						var cur_val = ui.value;
						var cur_id = $(this).attr('id');
						cur_id = cur_id.replace('deals_slider_','');
						if (Deals.ajax_save_val) {
							Deals.save_slider(cur_id, cur_val);
						}
			        }
		       
			    }
			);


		});
	});


</script>


<div class='box' style=' ' id='widget_deals'>

    <div style="cursor:default;" class="box_heading box_heading_widget box_heading_red rounded_upper" id="widget_heading_{{widget_id}}"> <!-- onclick="Page.toggle_size({{widget_id}}); return false;" -->
	    
	    <div style='float:right;'>
	    		<input value='{% trans "New deal" %}' onclick='Contacts.expand(0, "new_deal"); return false;' title='{% trans "Create a new deal - use the Contact form and specify a company name." %}' type='button' style='margin: 3px 5px 0px 0px; font-size: .9em;' />
	    </div>
	    
	    <h3>
    		{% trans 'Deals' %}
	    </h3>
	    
	</div>
	
    <div id='deals_widget' class='box_content{% if not compact %}_expanded{% endif %}' style='overflow: auto;'>
	   		   	
	    {% for deal in deals %}
	    
	    	<div onmouseover='$(this).css({background: "#F8F8F8"});' onmouseout='$(this).css({background: ""});' class='deals_list' id='deals_list_{{deal.pk}}' style='padding: 10px; cursor:pointer; clear:both; border-bottom: 1px solid #eee;'>
		    	<div style="">
		    		
		    		<div style="float: right;">
		    			<span class='deals_company' style='font-size: .9em;'>{{deal.get_company_name}}</span>
		    		</div>
		    		
		    		<div>
		    			{{deal.primary_contact.get_display_name}}
		    		</div>
		    		
		    		<div class="deal_details" style="display: none;">
		    			<!--  This gets populated at runtime -->
		    		</div>	
		    		
		    		
		    		
		    		<div title='{% trans "Rank the level of importance of this deal." %}' class="deals_slider" id='deals_slider_{{deal.pk}}'>
		    		
		    		</div>
		    	</div>

		    	<div style='clear:both;'></div>
		    	
	    	</div>
	    	<script language='javascript'>	
		    	$(document).ready(function(){
			    	$('#deals_slider_{{deal.pk}}')
			    		.slider('value', {{deal.hotness}});

			    	{% if forloop.last %}
			    		Deals.ajax_save_val = true; //only save values after all initial data is loaded.
			    	{% endif %}
			    });
	    	</script>	
	    	
	    {% endfor %}
	    
	    <div style='clear:both;'></div>
	    
	</div>
    	
</div>
