{% load i18n %} {% load assist_tags %} {% load account_tags %}
<style>
	div.nav_container h3 {
		color: #666;
		padding: 5px 5px 0px 5px;
	}
	div.nav_container ul li {
		margin-bottom: 10px;
		list-style: none;
		padding: 3px 5px 3px 15px;
		margin: 5px 0px 5px 0px;
		font-size: .9em;
	}
	div.nav_container ul li.selected {
		background: #AEC7E3;
		border-top: 1px solid #4D88CF;
		border-bottom: 1px solid #6FA2DF;
	}
</style>
{% spaceless %}
	<div class='box bg-aqua' style='clear:both; display:none; margin-bottom: 5px; padding: 5px; border-bottom: 2px solid #ccc; '>
		
        {% comment %}
        <div id='tooltip_msg' style='overflow: hidden; margin-bottom: 5px;'></div>
		
		<textarea name="parse" placeholder="Enter something like: meeting next Wednesday @ 4pm with @sally" class='quick_parse' id="parse" cols="34" rows="3" onClick="$('#people_div').hide();" style="width: 100%; font-size:; padding: 2px; height: 35px;"></textarea>
		<br/>
		<input style='font-size:.9em; display:;' type="button" class='btn btn-primary' name="parse_submit" id="parse_submit" value="{% trans 'Go!'%}" onClick="QuickBox.submit(); return false;"/>
		{% endcomment %}
        
	</div>
{% endspaceless %}
